.page-full-width {
  width: 100%;
}

.dots .dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
}
.dots .active {
  background-color: #ffffff;
}

.csr-banner {
  position: relative;
}
.csr-banner .csr-banner-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.csr-banner .csr-banner-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 572px;
}
.csr-banner .csr-banner-text span {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.csr-quotes {
  padding: 70px 160px;
  text-align: center;
  background: #f8f7f4;
}
.csr-quotes span {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.csr-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.csr-container .csr-wrapper {
  width: 1124px;
  margin-bottom: 120px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.csr-container .csr-wrapper .csr-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.csr-container .csr-wrapper .csr-grid {
  display: grid;
  place-content: center;
  grid-template-areas: "top top" "left right";
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}
.csr-container .csr-wrapper .csr-grid .csr-item:first-child {
  grid-area: top;
}
.csr-container .csr-wrapper .csr-grid .csr-item:nth-child(2) {
  grid-area: left;
}
.csr-container .csr-wrapper .csr-grid .csr-item:nth-child(3) {
  grid-area: right;
}
.csr-container .csr-wrapper .csr-grid .csr-top {
  color: #000000;
  font-style: normal;
}
.csr-container .csr-wrapper .csr-grid .csr-top h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
.csr-container .csr-wrapper .csr-grid .csr-top span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.csr-container .csr-wrapper .csr-grid .csr-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  font-style: normal;
  color: #1b5f5e;
}
.csr-container .csr-wrapper .csr-grid .csr-left p {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px;
}
.csr-container .csr-wrapper .csr-grid .csr-left span {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  width: 350px;
}
.csr-container .csr-wrapper .csr-grid .csr-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .csr-banner {
    height: 712px;
  }
  .csr-banner .csr-banner-img {
    width: 100%;
    height: 100%;
  }
  .csr-banner .csr-banner-img img {
    width: auto;
    height: 100%;
  }
  .csr-banner .csr-banner-text {
    width: 340px;
    bottom: 20%;
    left: 10%;
  }
  .csr-banner .csr-banner-text span {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
  }
  .csr-quotes {
    padding: 32px 16px;
  }
  .csr-container .csr-wrapper {
    width: 100%;
  }
  .csr-container .csr-wrapper .csr-title {
    font-size: 32px;
    line-height: 40px;
  }
  .csr-container .csr-wrapper .csr-grid {
    grid-template-areas: "top" "left" "right";
    grid-template-columns: 1fr;
  }
  .csr-container .csr-wrapper .csr-grid .csr-top h5 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
  .csr-container .csr-wrapper .csr-grid .csr-top span {
    font-size: 16px;
    line-height: 24px;
  }
  .csr-container .csr-wrapper .csr-grid .csr-left p {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
  }
  .csr-container .csr-wrapper .csr-grid .csr-left span {
    font-size: 14px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=csr.css.map */
