.layout-container {
  margin-bottom: 140px;
}
.layout-container .layout-image-container {
  width: 100%;
  margin-top: 140px;
}
.layout-container .layout-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.layout-container .layout-image-wrapper .layout-image-title {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
  width: 700px;
  text-align: center;
}
.layout-container .layout-image-wrapper .layout-image-list1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}
.layout-container .layout-image-wrapper .layout-image-list1 .item {
  flex: 1;
}
.layout-container .layout-image-wrapper .layout-image-list1 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout-container .layout-image-wrapper .layout-image-list2 {
  display: grid;
  grid-template-areas: "item1 item3 item3 item3" "item2 item3 item3 item3" "item4 item4 item5 item6";
  gap: 20px;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:first-child {
  grid-area: item1;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:nth-child(2) {
  grid-area: item2;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:nth-child(3) {
  grid-area: item3;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:nth-child(4) {
  grid-area: item4;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:nth-child(5) {
  grid-area: item5;
}
.layout-container .layout-image-wrapper .layout-image-list2 .item:nth-child(6) {
  grid-area: item6;
}
.layout-container .layout-image-wrapper .layout-show-more-button {
  box-sizing: border-box;
  padding: 16px 24px;
  width: 208px;
  height: 56px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

/*# sourceMappingURL=image-layout.css.map */
