.instruction-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.instruction-container .instruction-wrapper {
  width: 1124px;
}
.instruction-container .instruction-wrapper .instruction-card {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.instruction-container .instruction-wrapper .instruction-card__title {
  margin: 0px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.instruction-container .instruction-wrapper .instruction-card__content ul {
  padding-left: 20px;
  margin: 0px;
}
.instruction-container .instruction-wrapper .instruction-card__content li {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

/*# sourceMappingURL=instrucion.css.map */
