.story-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.story-container .story-wrapper {
  width: 1124px;
}
.story-container .story-wrapper .story-row {
  margin-bottom: 32px;
}
.story-container .story-wrapper .story-row .story-columns {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 0px;
  align-items: flex-end;
}
.story-container .story-wrapper .story-row .story-columns .story-column {
  flex: 1;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-content__description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-image img {
  max-width: 100%;
  height: auto;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-image-group {
  margin-top: -120px;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-image-group__image-up {
  position: relative;
  top: 120px;
  left: 200px;
  width: 343px;
  height: auto;
  z-index: 9999;
}
.story-container .story-wrapper .story-row .story-columns .story-column .story-image-group__image-down {
  position: relative;
  width: 433px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .story-container .story-wrapper .story-minus-mt {
    margin-top: 0;
  }
  .story-container .story-wrapper .story-row {
    margin-top: 10px;
  }
  .story-container .story-wrapper .story-row .story-columns {
    flex-direction: column;
  }
  .story-container .story-wrapper .story-row .story-columns_reverse {
    flex-direction: column-reverse !important;
  }
  .story-container .story-wrapper .story-row .story-columns .story-column .story-content__title {
    text-align: center;
  }
  .story-container .story-wrapper .story-row .story-columns .story-column .story-image-group {
    margin-top: -90px;
  }
  .story-container .story-wrapper .story-row .story-columns .story-column .story-image-group__image-up {
    width: 220px;
    left: 150px;
    top: 90px;
  }
  .story-container .story-wrapper .story-row .story-columns .story-column .story-image-group__image-down {
    width: 270px;
  }
}

/*# sourceMappingURL=our-story.css.map */
