.store-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-container .store-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.store-container .store-wrapper .store-place {
  flex: 1;
}
.store-container .store-wrapper .store-place .tab-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: inherit;
  gap: 44px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin: 0px;
  padding: 0px;
}
.store-container .store-wrapper .store-place .tab-list .tab-item {
  margin-right: 0px;
}
.store-container .store-wrapper .store-place .tab-list li {
  list-style: none;
}
.store-container .store-wrapper .store-place .tab-list li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: none;
  white-space: nowrap;
  color: #828282;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.store-container .store-wrapper .store-place .tab-list li.active a {
  border: none;
  color: #000000 !important;
  background: transparent;
}
.store-container .store-wrapper .store-place .tab-list li.active a,
.store-container .store-wrapper .store-place .tab-list li.active a:focus,
.store-container .store-wrapper .store-place .tab-list li.active a:hover {
  border-width: 0;
}
.store-container .store-wrapper .store-place .tab-list li.active a::after {
  transform: scale(1);
}
.store-container .store-wrapper .store-place .tab-list li a:hover {
  border: none;
  color: #000000 !important;
  background: transparent;
}
.store-container .store-wrapper .store-place .tab-list li a:hover a::after {
  transform: scale(1);
}
.store-container .store-wrapper .store-place .tab-list li a::after {
  content: "";
  background: #000000;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.store-container .store-wrapper .store-place .card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.store-container .store-wrapper .card-item {
  padding-top: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.store-container .store-wrapper .card-item:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}
.store-container .store-wrapper .card-item:first-child h2 {
  color: #1b5f5e;
}
.store-container .store-wrapper .card-item:first-child li {
  color: #000000;
}
.store-container .store-wrapper .card-item__title {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.store-container .store-wrapper .card-item__title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0px;
  color: #828282;
}
.store-container .store-wrapper .card-item__desc {
  padding-left: 50px;
  margin-bottom: 0px;
}
.store-container .store-wrapper .card-item__desc li {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.store-container .store-wrapper .store-map {
  flex: 2;
  position: relative;
}
.store-container .store-wrapper .store-map .store-map-wrapper .img-map {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 24px 24px 0px 24px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px #000000;
  position: absolute;
  top: 25%;
  left: 40%;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-name-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1b5f5e;
  display: none;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-img {
  width: 100%;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-item {
  border: none;
  padding-bottom: 24px;
}
.store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-item__title h2 {
  color: #1b5f5e;
}

@media (min-width: 768px) and (max-width: 1024px), (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 481px) and (max-width: 767px), (min-width: 320px) and (max-width: 480px) {
  .store-container .store-wrapper {
    gap: 24px;
    flex-direction: column-reverse;
  }
  .store-container .store-wrapper .store-map .store-map-wrapper .card-in-map {
    top: 40%;
    left: 30%;
    width: auto;
    flex-direction: row;
    padding: 0px 12px;
  }
  .store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-img {
    display: none;
  }
  .store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-item__title, .store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-item__desc {
    display: none;
  }
  .store-container .store-wrapper .store-map .store-map-wrapper .card-in-map .card-name-mobile {
    display: inline;
  }
}

/*# sourceMappingURL=our-stores.css.map */
