@charset "UTF-8";
.blog-container {
  width: 100%;
  margin-top: 50px;
}
.blog-container .blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.blog-container .blog-wrapper .blog-show-more-button {
  box-sizing: border-box;
  padding: 16px 24px;
  width: 208px;
  height: 56px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.blog-container .blog-wrapper .blog-card-list {
  display: grid;
  grid-template-areas: "item1 item1 item2" "item3 item4 item5";
  gap: 20px;
}
.blog-container .blog-wrapper .blog-card-list .card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 12px;
  height: 500px;
  width: 100%;
}
.blog-container .blog-wrapper .blog-card-list .card-item:first-child {
  grid-area: item1;
}
.blog-container .blog-wrapper .blog-card-list .card-item:nth-child(2) {
  grid-area: item2;
}
.blog-container .blog-wrapper .blog-card-list .card-item:nth-child(3) {
  grid-area: item3;
}
.blog-container .blog-wrapper .blog-card-list .card-item:nth-child(4) {
  grid-area: item4;
}
.blog-container .blog-wrapper .blog-card-list .card-item:nth-child(5) {
  grid-area: item5;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-img {
  width: 100%;
  height: auto;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-time {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #828282;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0;
  word-wrap: break-word;
  width: 405px;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  word-wrap: break-word;
  width: 405px;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-link:hover {
  color: #39b0db;
}
.blog-container .blog-wrapper .blog-card-list .card-item .item-link::after {
  content: " →";
}
.blog-container .blog-wrapper .blog-card-list .card-item--large .item-img {
  height: 500px;
  width: 100%;
}
.blog-container .blog-wrapper .blog-card-list .card-item--large .item-img img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=our-blog.css.map */
