.policy-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.policy-container .policy-wrapper {
  width: 1124px;
}
.policy-container .policy-wrapper .policy-card {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.policy-container .policy-wrapper .policy-card__title {
  margin: 0px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.policy-container .policy-wrapper .policy-card__content {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.policy-container .policy-wrapper .policy-card__content ul {
  padding-left: 15px;
}
.policy-container .policy-wrapper .policy-card__content p:first-child {
  margin-top: 0px;
}
.policy-container .policy-wrapper .policy-card__content p:last-child {
  margin-bottom: 0px;
}

/*# sourceMappingURL=policy.css.map */
