.info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.info-container .info-wrapper {
  width: 890px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.info-container .info-wrapper .info-item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.info-container .info-wrapper .info-item:nth-child(even) {
  flex-direction: row-reverse;
}
.info-container .info-wrapper .info-item .info-img {
  flex: 1;
  width: 100%;
}
.info-container .info-wrapper .info-item .info-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info-container .info-wrapper .info-item .info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.info-container .info-wrapper .info-item .info-text h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}
.info-container .info-wrapper .info-item .info-text span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .info-container .info-wrapper {
    width: 100%;
    height: auto;
  }
  .info-container .info-wrapper .info-item {
    flex-direction: column;
  }
  .info-container .info-wrapper .info-item:nth-child(even) {
    flex-direction: column;
  }
}

/*# sourceMappingURL=product-info.css.map */
