.page-footer .switcher .options .action.toggle strong {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.catalogsearch-result-index .page-main,
.catalog-category-view .page-main {
  max-width: 100% !important;
}

.logo__container {
  padding-left: 0px;
  padding-right: 0px;
}

.logo__container {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 641px) {
  .mobile-header--layout-1 .logo__container {
    width: 200px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo__container .logo img {
    display: none;
  }

  .logo__container .logo img.retina {
    display: block;
  }
}

.products-grid .product-item:hover .price-box .price-container .price,
.extended-review-summary .ratings-value,
.ox-prev-next__link .label,
.rating-summary .rating-result > span:before,
.review-list .rating-summary .rating-result > span:before,
.review-control-vote label:before,
.accent-color,
.post-view .social-share__content a:hover i,
.ox-prev-next__link .label {
  color: rgb(207, 238, 16);
}

button:focus,
button:active,
button:hover,
.ox-toggle.medium-left .ox-toggle-title:hover .toggle-minus,
.abs-action-link-button:focus,
.abs-action-link-button:active,
.abs-action-addto-product:focus,
.abs-action-addto-product:active,
.block-event .slider-panel .slider .item .action.event:focus,
.block-event .slider-panel .slider .item .action.event:active,
.bundle-options-container
  .block-bundle-summary
  .product-addto-links
  > .action:focus,
.bundle-options-container
  .block-bundle-summary
  .product-addto-links
  > .action:active,
.abs-action-link-button:hover,
.abs-action-addto-product:hover,
.block-event .slider-panel .slider .item .action.event:hover,
.bundle-options-container
  .block-bundle-summary
  .product-addto-links
  > .action:hover,
.sidebar .action.delete:hover:before,
.block-compare .action.delete:hover:before,
.abs-shopping-cart-items .action.continue:after,
.block-cart-failed .action.continue:after,
.cart-container .form-cart .action.continue:after,
.abs-shopping-cart-items .action.clear:after,
.block-cart-failed .action.clear:after,
.cart-container .form-cart .action.clear:after,
.abs-shopping-cart-items .action.update:after,
.block-cart-failed .action.update:after,
.cart-container .form-cart .action.update:after,
.message.warning:before,
.hightlighted-text:before,
.slide-out-menu--mobile .hamburger-menu-icon-small span,
.top-bar .switcher:hover,
.page-footer .switcher:hover .options .action.toggle,
.page-footer
  .switcher
  .options
  .action.toggle.active
  .page-header
  .header.links
  a:not(.button):hover,
.primary > .action,
a.action.primary,
.action.primary,
.button.primary,
a.button.primary,
a.button,
.button,
button,
.amshopby-button,
.primary > .action.naked:after,
a.action.primary.naked:after,
.action.primary.naked:after,
.button.primary.naked:after,
a.button.primary.naked:after,
a.button.naked:after,
.button.naked:after,
button.naked:after,
.button.secondary:after,
a.button.secondary:after,
.action.secondary:after,
.action-secondary:after,
button.action-secondary:after,
button.action.secondary:after,
.secondary > a.action:after,
.pages strong.page,
.ui-dialog.popup .action.close:hover,
.action-search-slideout,
.page-header .navigation .level0 > .level-top:before,
.logo__container,
#ox_quickview_wrapper .ox-overlay-close-btn:hover,
.fotorama__active .fotorama__dot,
.owl-carousel .owl-dots button.owl-dot.active span,
.owl-carousel .owl-dots button.owl-dot:hover span,
.ox-css-dots > a span,
.crosssell .owl-carousel .owl-nav button.owl-next:after,
.related .owl-carousel .owl-nav button.owl-next:after,
.upsell .owl-carousel .owl-nav button.owl-next:after,
.crosssell .owl-carousel .owl-nav button.owl-prev:after,
.related .owl-carousel .owl-nav button.owl-prev:after,
.upsell .owl-carousel .owl-nav button.owl-prev:after,
.owl-carousel.widget-product-grid .owl-nav button.owl-next:after,
.owl-carousel.widget-product-grid .owl-nav button.owl-prev:after,
.owl-nav button.owl-next:after,
.owl-nav button.owl-prev:after,
#toTop,
.header-top-banner,
.at-close-cross:hover,
.ox-banner-animated-text .ox-banner-animated-container .text.accent-bg:after,
.ox-banner-animated-text .ox-banner-animated-container .text:after,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
.modal-custom .action-close:focus,
.modal-popup .action-close:focus,
.modal-slide .action-close:focus,
.modal-custom .action-close:hover,
.modal-popup .action-close:hover,
.modal-slide .action-close:hover,
.ox-banner__text-container .text:after,
.ox-banner__text-container .link,
.athlete-slideshow .slide .controls .slide-control:after,
.athlete-slideshow .slide .controls .progress,
.slide-title .link,
.cart-summary .actions-toolbar > .primary button,
.cart-summary .actions-toolbar > .primary button.naked:after,
.minicart-wrapper .action.showcart,
.opc-progress-bar-item._active:before,
.opc-block-shipping-information .shipping-information-title .action-edit:after,
.action.action-edit-address:after,
.gift-item-block .title:focus,
.gift-item-block .title:active,
.sorter-action:hover,
.js-toolbar-switch:hover,
.js-toolbar-dropdown > div:hover,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.table-comparison .cell.remove .action.delete:hover,
.table-comparison .action.towishlist:hover,
.table-comparison .action.tocart:hover,
.filter-current .action.remove:hover:before,
.extended-review-summary-wrapper .number-of-ratings .rating-result span:before,
.extended-review-summary .ratings-count .rating-result span:before,
.sidebar-additional .block:before,
.block-event .slider-panel .slider .item .action.event,
.ox-product-item__amount .amount-count-line span,
.ox-item-scroll__amount .amount-count-line span,
.ox-product-scroll__amount .amount-count-line span,
.toolbar-amount .amount-count-line span,
.opc-progress-bar-item._active:before,
.slider-progress:after,
.animated-text--bg.accent:after,
.post-view .post-categories a,
.post-list.blog-style-modern article .post-categories a,
.post-list.blog-style-classic .post-date .hover,
.post-view .post-tags a:hover,
blockquote:after,
blockquote:before,
.sidebar-additional .block.block-tagclaud a:hover,
.filter-options-content .mana-filter-slider > .mana-slider-span,
.filter-options-content .ui-slider .ui-slider-range,
.filter-options-content .ox-price-slider .ui-slider-range,
.filter-options-content .noUi-connect,
.filter-current-count,
#toTop {
  background: rgb(207, 238, 16);
}

@media only screen and (min-width: 1025px) {
  .order-links .item.current strong,
  .product.data.items > .item.title > .switch:after,
  .header--layout-4 .minicart-wrapper .action.showcart:after,
  .ox-megamenu-navigation .category-item.has-active > .level-top,
  .ox-megamenu-navigation .category-item.active > .level-top,
  .ox-megamenu-navigation .category-item.has-active > a,
  .ox-megamenu-navigation .category-item.active > a,
  .ox-dropdown--megamenu
    > .ox-megamenu__dropdown
    .ox-megamenu-list
    > .category-item.active
    > a,
  .ox-dropdown--megamenu
    > .ox-megamenu__dropdown
    .ox-megamenu__categories
    > .ox-megamenu-list
    > .category-item
    > .submenu
    > .category-item.active
    > a,
  .modes-mode.active,
  .modes-mode:hover,
  .block-search .action.search,
  .ox-megamenu-navigation > .level0 > a:before {
    background: rgb(207, 238, 16);
  }

  .ox-megamenu-navigation .ox-megamenu__dropdown .category-item.active > a,
  .ox-megamenu-navigation
    .ox-megamenu__dropdown
    .category-item.active
    + .category-item
    > a {
    border-color: rgb(207, 238, 16);
  }
}

.post-view .block.comments .c-comment .c-post,
.post-list.blog-style-modern article .post-links > .item:hover,
.filter-options,
.filter.block .content,
.a-underlined-links a,
.underlined-links a:hover,
.account-nav .content {
  border-color: rgb(207, 238, 16);
}

.accent-color svg,
svg.accent-color {
  fill: rgb(207, 238, 16) !important;
}

.hightlighted-text:before {
  background-color: rgb(207, 238, 16);
}

.multicheckout .box-title > span,
.paypal-review .block .box-title > span,
.magento-rma-guest-returns .column.main .block:not(.widget) .box-title > span,
[class^='sales-guest-'] .column.main .block:not(.widget) .box-title > span,
.sales-guest-view .column.main .block:not(.widget) .box-title > span,
.account .column.main .block:not(.widget) .box-title > span,
.abs-account-blocks .block-title > strong,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-shared-items .block-title > strong,
.block-wishlist-search-results .block-title > strong,
.order-details-items .order-title > strong,
.widget .block-title > strong,
.multicheckout .block-title > strong,
.paypal-review .block .block-title > strong,
.magento-rma-guest-returns
  .column.main
  .block:not(.widget)
  [class^='sales-guest-']
  .column.main
  .block:not(.widget)
  .block-title
  > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong,
.account .column.main .block:not(.widget) .block-title > strong,
.cart-empty-big-text,
.fieldset > .legend,
.cart-summary > .title,
.fieldset .review-legend.legend,
.review-list .block-title strong,
.filter.block .content dl.options dt,
.sidebar-additional .block .block-title > strong,
.bundle-options-container .block-bundle-summary > .title > strong,
.bundle-options-container .block-bundle-summary .bundle-summary > .subtitle,
.bundle-options-container .legend.title,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.review-title,
.post-list.blog-style-classic article .post-title a,
.post-list.blog-style-modern article .post-title a,
.post-list.blog-style-modern article .post-title,
.post-view .block.comments .c-count,
.post-view .block.comments .c-comment .p-name,
.modal-popup .modal-title,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(51, 51, 51);
}

.ox-megamenu,
.ox-dropdown--megamenu .ox-megamenu-block p,
.ox-dropdown--megamenu
  .ox-megamenu-list
  > .category-item
  > .submenu
  > .category-item
  > a,
body {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.ox-overlay .header__search-wrapper form input,
.ox-overlay .header__search-wrapper form .label,
.ox-slideout .header__search-wrapper form input,
.ox-slideout .header__search-wrapper form .label,
.extended-review-summary .ratings-value,
.ox-carousel .ox-slide-item .title.huge,
.ox-carousel .ox-slide-item .title.big,
.ox-carousel .ox-slide-item .title.huge-6vw,
.ox-carousel .ox-slide-item .title.huge-7vw,
.h1,
h1 {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.fancy-text {
  font-family: 'Gotham', Helvetica, Arial, sans-serif !important;
}

.cart-summary > .title,
.abs-account-blocks .block-title > strong,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-shared-items .block-title > strong,
.block-wishlist-search-results .block-title > strong,
.order-details-items .order-title > strong,
.widget .block-title > strong,
.multicheckout .block-title > strong,
.paypal-review .block .block-title > strong,
.magento-rma-guest-returns
  .column.main
  .block:not(.widget)
  [class^='sales-guest-']
  .column.main
  .block:not(.widget)
  .block-title
  > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong,
.account .column.main .block:not(.widget) .block-title > strong,
.cart-empty-big-text,
.ox-banner-animated-text.ox-banner-medium .ox-banner__text-container .text,
.ox-banner-animated-text.ox-banner-big .ox-banner__text-container .text,
.ox-banner__text-container .text,
.column.main .block .title strong,
.block .title strong,
.block-title strong,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.fieldset .review-legend.legend,
.review-list .block-title strong,
.bundle-options-container .block-bundle-summary > .title > strong,
.bundle-options-container .block-bundle-summary .bundle-summary > .subtitle,
.bundle-options-container .legend.title,
.post-view .block.comments .c-count,
.modal-popup .modal-title,
.contact-index-index .form.contact .fieldset .legend,
.h2,
.h3,
h2,
h3 {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.block.newsletter .title,
.multicheckout .box-title > span,
.paypal-review .block .box-title > span,
.magento-rma-guest-returns .column.main .block:not(.widget) .box-title > span,
[class^='sales-guest-'] .column.main .block:not(.widget) .box-title > span,
.sales-guest-view .column.main .block:not(.widget) .box-title > span,
.account .column.main .block:not(.widget) .box-title > span,
.minicart-wrapper .action.showcart,
.ox-banner span.text,
.ox-banner-animated-text .ox-banner-animated-container span.text,
.ox-banner__text-container .text,
.filter-options-title,
.filter .block-subtitle,
.small-subtitle,
.fieldset > .legend,
.opc-progress-bar-item > span,
.filter.block .content dl.options dt,
.sidebar-additional .block .block-title > strong,
.review-title,
.post-list.blog-style-modern article .post-title,
.post-list.blog-style-modern article .post-image-wrapper .post-posed-date,
.post-list.blog-style-modern article .post-categories a,
.post-list.blog-style-modern article .post-links > .item,
.post-list.blog-style-classic .post-date .day,
.post-list.blog-style-classic .post-date .hover,
.post-view .post-categories a,
.post-view .block.comments .c-comment .p-name,
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.ox-overlay .header__search-wrapper form input,
.ox-overlay .header__search-wrapper form .label,
.ox-slideout .header__search-wrapper form input,
.ox-slideout .header__search-wrapper form .label,
.ox-carousel .ox-slide-item .title.huge,
.ox-carousel .ox-slide-item .title.big,
.ox-carousel .ox-slide-item .title.huge-6vw,
.ox-carousel .ox-slide-item .title.huge-7vw,
.h1,
h1,
h1.big,
.h1.big {
  letter-spacing: 0px;
}

.block.newsletter.newsletter-style--big .title,
.abs-account-blocks .block-title > strong,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-shared-items .block-title > strong,
.block-wishlist-search-results .block-title > strong,
.order-details-items .order-title > strong,
.widget .block-title > strong,
.multicheckout .block-title > strong,
.paypal-review .block .block-title > strong,
.magento-rma-guest-returns
  .column.main
  .block:not(.widget)
  [class^='sales-guest-']
  .column.main
  .block:not(.widget)
  .block-title
  > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong,
.account .column.main .block:not(.widget) .block-title > strong,
.cart-empty-big-text,
.ox-banner-animated-text.ox-banner-medium .ox-banner__text-container .text,
.ox-banner-animated-text.ox-banner-big .ox-banner__text-container .text,
.ox-banner__text-container .text,
.column.main .block .title strong,
.block .title strong,
.block-title strong,
.cart-summary > .title,
.fieldset .review-legend.legend,
.review-list .block-title strong,
.bundle-options-container .block-bundle-summary > .title > strong,
.bundle-options-container .block-bundle-summary .bundle-summary > .subtitle,
.bundle-options-container .legend.title,
.post-view .block.comments .c-count,
.modal-popup .modal-title,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.contact-index-index .form.contact .fieldset .legend,
.h2,
.h3,
h2,
h3 {
  letter-spacing: 0px;
}

.block.newsletter .title,
.multicheckout .box-title > span,
.paypal-review .block .box-title > span,
.magento-rma-guest-returns .column.main .block:not(.widget) .box-title > span,
[class^='sales-guest-'] .column.main .block:not(.widget) .box-title > span,
.sales-guest-view .column.main .block:not(.widget) .box-title > span,
.account .column.main .block:not(.widget) .box-title > span,
.ox-banner span.text,
.ox-banner-animated-text .ox-banner-animated-container span.text,
.filter-options-title,
.filter .block-subtitle,
.login-container .block-new-customer .block-title strong,
.ox-overlay .header__search-wrapper form .input-focused .label,
.fieldset > .legend,
.opc-progress-bar-item > span,
.filter.block .content dl.options dt,
.sidebar-additional .block .block-title > strong,
.review-title,
.post-list.blog-style-modern article .post-image-wrapper .post-posed-date,
.post-list.blog-style-modern article .post-categories a,
.post-list.blog-style-modern article .post-links > .item,
.post-list.blog-style-classic .post-date .day,
.post-list.blog-style-classic .post-date .hover,
.post-list.blog-style-modern article .post-title,
.post-view .post-categories a,
.post-view .block.comments .c-comment .p-name,
.column.main .cart-summary .block > .title strong,
.column.main .opc-block-summary .items-in-cart > .title strong,
.column.main
  .checkout-payment-method
  .payment-option._collapsible
  > .title
  strong,
.column.main .paypal-review-discount .block > .title strong,
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  letter-spacing: 0px;
}

.ox-overlay .header__search-wrapper form input,
.ox-overlay .header__search-wrapper form .label,
.ox-slideout .header__search-wrapper form input,
.ox-slideout .header__search-wrapper form .label,
.ox-carousel .ox-slide-item .title.huge,
.ox-carousel .ox-slide-item .title.big,
.ox-carousel .ox-slide-item .title.huge-6vw,
.ox-carousel .ox-slide-item .title.huge-7vw,
.h1,
h1,
h1.big,
.h1.big {
  font-weight: 500;
}

.fancy-text {
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
}

.block.newsletter.newsletter-style--big .title,
.cart-summary > .title,
.abs-account-blocks .block-title > strong,
.block-giftregistry-results .block-title > strong,
.block-giftregistry-shared-items .block-title > strong,
.block-wishlist-search-results .block-title > strong,
.order-details-items .order-title > strong,
.widget .block-title > strong,
.multicheckout .block-title > strong,
.paypal-review .block .block-title > strong,
.magento-rma-guest-returns
  .column.main
  .block:not(.widget)
  [class^='sales-guest-']
  .column.main
  .block:not(.widget)
  .block-title
  > strong,
.sales-guest-view .column.main .block:not(.widget) .block-title > strong,
.account .column.main .block:not(.widget) .block-title > strong,
.cart-empty-big-text,
.ox-banner-animated-text.ox-banner-medium .ox-banner__text-container .text,
.ox-banner-animated-text.ox-banner-big .ox-banner__text-container .text,
.ox-banner__text-container .text,
.column.main .block .title strong,
.block .title strong,
.block-title strong,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.fieldset .review-legend.legend,
.review-list .block-title strong,
.bundle-options-container .block-bundle-summary > .title > strong,
.bundle-options-container .block-bundle-summary .bundle-summary > .subtitle,
.bundle-options-container .legend.title,
.post-view .block.comments .c-count,
.modal-popup .modal-title,
.contact-index-index .form.contact .fieldset .legend,
.h2,
.h3,
h2,
h3 {
  font-weight: 500;
  text-transform: capitalize;
}

.page-header,
.page-header .sticky-wrapper {
  background: rgb(255, 255, 255);
}

.sticky-wrapper {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.header--layout-4 .header__content .logo__container:before,
.logo__container {
  background: rgb(255, 255, 255);
}

.top-bar,
.top-bar:before {
  background-color: rgb(0, 0, 0);
}

.top-bar,
.top-bar .switcher,
.top-bar .topline-block a:not(.button),
.top-bar .header.links a:not(.button) {
  color: rgb(174, 174, 174);
}

.top-bar .switcher:hover,
.top-bar .topline-block a:not(.button):hover,
.top-bar .header.links a:not(.button):hover {
  color: rgb(0, 0, 0);
}

.top-bar .switcher:hover,
.top-bar .topline-block a:not(.button):hover,
.top-bar .header.links a:not(.button):hover {
  background-color: rgb(207, 238, 16);
}

.top-bar,
.top-bar .topline-block,
.top-bar .header.links .greet.welcome span,
.top-bar .topline-block .greet.welcome span,
.top-bar .topline-block a:not(.button),
.top-bar .header.links a:not(.button) {
  font-size: 12px;
}

.minicart-wrapper .action.showcart {
  background: rgb(255, 255, 255);
}

.minicart-wrapper .action.showcart,
.minicart-wrapper .action.showcart span {
  color: rgb(48, 48, 48);
}

.header--layout-4 .minicart-wrapper .action.showcart:after,
.header--layout-2 .minicart-wrapper .action.showcart:hover,
.header--layout-1 .minicart-wrapper .action.showcart:hover {
  background: rgb(207, 238, 16);
}

@media only screen and (max-width: 639px) {
  .minicart--show-counter-mobile .minicart-wrapper .action.showcart span.qty {
    background: rgba(255, 255, 255, 0);
  }
}

.header__item-badge,
.minicart-btn--minimal .minicart-wrapper .action.showcart span.qty {
  background: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 639px) {
  .minicart--show-counter-mobile .minicart-wrapper .action.showcart span.qty {
    color: rgb(48, 48, 48);
  }
}

.header__item-badge,
.minicart-btn--minimal
  .minicart-wrapper
  .action.showcart
  span.qty
  .counter-number,
.minicart-btn--minimal .minicart-wrapper .action.showcart span.qty {
  color: rgb(48, 48, 48);
}

.header__content .header__item .button {
  background: rgb(255, 255, 255);
}

.header__content .header__item .button svg {
  fill: rgb(23, 23, 23);
}

.header__content .header__item .button i {
  color: rgb(23, 23, 23);
}

.header__content .header__item .button:hover svg {
  fill: rgb(23, 23, 23);
}

.header__content .header__item .button:hover i {
  color: rgb(23, 23, 23);
}

.page-header .block-search .action.search,
.page-header .block-search .action-search-slideout {
  background: rgb(255, 255, 255);
}

.page-header .block-search .action.search svg,
.page-header a.button.action-search-slideout svg {
  fill: rgb(23, 23, 23);
}

.page-header .block-search .action.search:hover svg,
.page-header a.button.action-search-slideout:hover svg {
  fill: rgb(23, 23, 23);
}

.page-header .header__item-search form input {
  background: rgb(248, 248, 248);
}

.page-header.header__item-search form input {
  color: rgb(23, 23, 23);
}

.page-header .header__item-search form input[type='text'],
.page-header .header__item-search form input,
.header__item-search form input[type='text']:hover,
.header__item-search form input:hover,
.header__item-search form input[type='text']:focus,
.header__item-search form input:focus {
  border: none;
}

.slide-out-menu--mobile,
.page-header .ox-megamenu .level0 > .level-top,
.page-header .navigation .level0 > .level-top {
  color: rgb(48, 48, 48);
}

.menu-style-2 .page-header .ox-megamenu > ul > .level0.active > .level-top,
.menu-style-2 .page-header .navigation > ul > .level0.active > .level-top,
.menu-style-2 .page-header .ox-megamenu > ul > .level0:hover > .level-top,
.menu-style-2 .page-header .navigation > ul > .level0:hover > .level-top,
.ox-megamenu-navigation
  > .level0:not(.active):not(.has-active):hover
  > .level-top,
.page-header .ox-megamenu > ul > .level0:hover > .level-top,
.page-header .ox-megamenu .level0.active > .level-top,
.page-header .ox-megamenu .level0.has-active > .level-top,
.page-header .navigation > ul > .level0:hover > .level-top,
.page-header .navigation .level0.active > .level-top,
.page-header .navigation .level0.has-active > .level-top {
  color: rgb(0, 0, 0);
}

.minicart-wrapper .action.showcart,
.ox-megamenu-navigation .category-item > a,
.page-header .ox-megamenu .level0 > .level-top,
.page-header .navigation .level0 > .level-top,
.slide-out-menu--mobile,
.ox-nav-sections-item-title .ox-nav-sections-item-switch,
.ox-megamenu-navigation > .level0 > .level-top {
  letter-spacing: 0px;
}

.ox-slideout .switcher .options .action.toggle strong span,
.ox-slideout .switcher .options ul.dropdown a,
.ox-dropdown .header.links .logged-in,
.ox-slideout .header.links .logged-in,
.ox-dropdown .header.links a:not(.button),
.ox-slideout .header.links a:not(.button),
.ox-megamenu-navigation > li > a,
.ox-megamenu-navigation .category-item > a,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu-list
  > .category-item
  > a,
.ox-dropdown--megamenu > .ox-megamenu__dropdown .level1.category-item > a,
.minicart-wrapper .action.showcart,
.page-header .ox-megamenu .level0 > .level-top,
.page-header .navigation .level0 > .level-top,
.ox-megamenu-navigation .ox-dropdown--simple .category-item a,
.slide-out-menu--mobile,
.header--layout-4 .minicart-wrapper .action.showcart,
.ox-nav-sections-item-title .ox-nav-sections-item-switch,
.ox-megamenu-navigation > .level0 > .level-top {
  font-weight: 300;
}

.page-header .ox-megamenu .level0 > .level-top,
.page-header .navigation .level0 > .level-top,
.slide-out-menu--mobile,
.header--layout-4 .minicart-wrapper .action.showcart,
.ox-nav-sections-item-title .ox-nav-sections-item-switch,
.ox-megamenu-navigation > .level0 > .level-top {
  font-size: 14px;
}

@media (min-width: 1160px) {
  .ox-megamenu-navigation > .level0 {
    margin-right: 15px;
  }
}

.ox-section-item-content .ox-megamenu-navigation > .level0 > .level-top {
  font-size: 30px;
}

.ox-slideout .header.links .logged-in,
.ox-slideout .header.links a:not(.button),
.ox-slideout .switcher .options ul.dropdown a,
.ox-slideout .switcher .options .action.toggle strong span,
.ox-slideout .switcher .options .action.toggle strong,
.slide-out-menu--mobile,
.ox-nav-sections-item-title .ox-nav-sections-item-switch,
.minicart-wrapper .action.showcart,
.ox-megamenu-navigation .ox-dropdown--simple,
.ox-megamenu .level0 > .level-top,
.navigation .level0 > .level-top,
.page-header .ox-megamenu .level0 > .level-top,
.page-header .navigation .level0 > .level-top,
.page-header .ox-megamenu .level0 .ox-submenu,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu__categories
  .ox-megamenu-list
  > .category-item
  > a {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.page-header .ox-megamenu .level0 .ox-submenu .category-item > a,
.ox-megamenu-navigation .ox-dropdown--simple .category-item a,
.ox-slideout .header.links .logged-in,
.ox-slideout .header.links a:not(.button),
.ox-slideout .switcher .options ul.dropdown a,
.ox-slideout .switcher .options .action.toggle strong span,
.ox-slideout .switcher .options .action.toggle strong,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu__categories
  .ox-megamenu-list
  > .category-item
  > a {
  letter-spacing: 0px;
}

.page-header .ox-megamenu .level0 .ox-submenu .category-item > a,
.ox-megamenu-navigation .ox-dropdown--simple .category-item a,
.ox-slideout .header.links .logged-in,
.ox-slideout .header.links a:not(.button),
.ox-slideout .switcher .options ul.dropdown a,
.ox-slideout .switcher .options .action.toggle strong span,
.ox-slideout .switcher .options .action.toggle strong,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu__categories
  .ox-megamenu-list
  > .category-item
  > a {
  font-weight: 600;
}

.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu-list
  > .category-item
  > .submenu
  > .category-item
  > a,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu__categories
  > .ox-megamenu-list
  > .category-item
  > .submenu
  > .category-item
  > a {
  font-weight: 400;
}

.page-header .ox-megamenu .level0 .ox-submenu .category-item > a,
.ox-megamenu-navigation .ox-dropdown--simple .category-item a,
.ox-slideout .header.links .logged-in,
.ox-slideout .header.links a:not(.button),
.ox-slideout .switcher .options ul.dropdown a,
.ox-slideout .switcher .options .action.toggle strong span,
.ox-slideout .switcher .options .action.toggle strong,
.ox-dropdown--megamenu
  > .ox-megamenu__dropdown
  .ox-megamenu__categories
  .ox-megamenu-list
  > .category-item
  > a {
  font-size: 15px;
}

.ox-section-item-content
  :is(input, input[type='text'], input[type='password'], input[type='url'], input[type='tel'], input[type='search'], input[type='number'], input[type='datetime'], input[type='email'], select, textarea),
.inputs-style--underlined
  :is(input, input[type='text'], input[type='password'], input[type='url'], input[type='tel'], input[type='search'], input[type='number'], input[type='datetime'], input[type='email'], select, textarea) {
  border-color: rgb(84, 84, 84);
}

.ox-section-item-content
  :is(input:hover, input:focus, input[type='text':hover], input[type='password']:hover, input[type='url']:hover, input[type='tel']:hover, input[type='search']:hover, input[type='number']:hover, input[type='datetime']:hover, input[type='email']:hover, select:hover, textarea:hover, input[type='text']:focus, input[type='password']:focus, input[type='url']:focus, input[type='tel']:focus, input[type='search']:focus, input[type='number']:focus, input[type='datetime']:focus, input[type='email']:focus, select:focus, textarea:focus),
.inputs-style--underlined
  :is(input:hover, input[type='text']:hover, input[type='password']:hover, input[type='url']:hover, input[type='tel']:hover, input[type='search']:hover, input[type='number']:hover, input[type='datetime']:hover, input[type='email']:hover, select:hover, textarea:hover, input:focus, input[type='text']:focus, input[type='password']:focus, input[type='url']:focus, input[type='tel']:focus, input[type='search']:focus, input[type='number']:focus, input[type='datetime']:focus, input[type='email']:focus, select:focus, textarea:focus) {
  border-color: rgb(255, 255, 255);
}

.ox-section-item-content .block-new-customer {
  color: rgb(150, 150, 150);
}

.ox-section-item-content .block-new-customer {
  background: rgb(33, 33, 33);
}

.slide-out-menu--mobile {
  background: rgba(0, 0, 0, 0);
}

.slide-out-menu--mobile {
  color: rgb(0, 0, 0);
}

.slide-out-menu--mobile .hamburger-menu-icon-small span {
  background: rgb(0, 0, 0);
}

.animated-text--masked:after,
.ox-slideout .header__search-wrapper form .flashing-cursor,
.ox-overlay .header__search-wrapper form .flashing-cursor {
  background: rgb(0, 0, 0);
}

.multishipping-checkout-login .page-main,
.customer-account-login .page-main,
.customer-account-forgotpassword .page-main {
  background-image: url(http://hanoia-ui.com/media/athlete2/Demos/au/login-page-au_2.jpg);
}

.multishipping-checkout-register .page-main,
.customer-account-create .page-main {
  background-image: url(http://hanoia-ui.com/media/athlete2/Demos/au/login-page-au_3.jpg);
}

.footer.content {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.copyright-footer {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.page-footer {
  background-color: rgb(244, 243, 239);
}

.page-footer {
  background-image: url(http://hanoia-ui.com/media/athlete2/Demos/au/footer-bg_1.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.footer.content {
  color: rgb(116, 116, 116);
}

.footer.content h1,
.footer.content h2,
.footer.content h3,
.footer.content h4,
.footer.content h5,
.footer.content h6 {
  color: rgb(0, 0, 0);
}

.footer.content a {
  color: rgb(0, 0, 0);
}

.page-footer .switcher:hover .options .action.toggle strong,
.page-footer .switcher .options .action.toggle.active strong,
.footer.content a:hover {
  color: rgb(0, 0, 0);
}

.copyright-footer {
  background: rgba(251, 251, 251, 0);
}

.copyright-footer {
  color: rgb(188, 188, 188);
}

.copyright-footer a {
  color: rgb(125, 125, 125);
}

.copyright-footer a:focus,
.copyright-footer a:hover {
  color: rgb(0, 0, 0);
}

.copyright-footer .a-underlined-links a:hover,
.copyright-footer .underlined-links a:hover {
  border-color: rgba(0, 0, 0, 0);
}

.copyright-footer a.bg-hover:hover,
.copyright-footer .std a:hover,
.copyright-footer .links-bg-hover a:hover,
.copyright-footer a.bg-hover:focus,
.copyright-footer .std a:focus,
.copyright-footer .links-bg-hover a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.copyright-footer {
  border-top: 1px solid rgb(235, 235, 235);
}

.footer--layout-4 .footer.content .block.newsletter:before,
.footer--layout-2 .footer.content .block.newsletter:before,
.footer--layout-1 .footer .block.newsletter {
  background-color: rgb(255, 255, 255);
}

.footer .block.newsletter .title {
  color: rgb(0, 0, 0);
}

.footer .block.newsletter:not(.inputs-style--underlined) input {
  background-color: rgb(255, 255, 255);
}

.footer .block.newsletter:not(.inputs-style--underlined) input {
  border: 1px solid rgb(221, 221, 221);
}

.footer .block.newsletter.inputs-style--underlined input {
  border-color: rgb(221, 221, 221);
}

.footer .block.newsletter:not(.inputs-style--underlined) input:focus,
.footer .block.newsletter.inputs-style--underlined input:focus {
  border-color: rgb(143, 143, 143);
}

.footer .block.newsletter input {
  color: rgb(94, 94, 94);
}

.block.newsletter .control:before,
.block.newsletter .field .control:before,
.block.newsletter.inputs-style--underlined .newsletter .control:before,
.block.newsletter.inputs-style--underlined .control:before {
  color: rgb(94, 94, 94);
}

.footer
  .block.newsletter.inputs-style--underlined
  input::-webkit-input-placeholder,
.footer .block.newsletter input::-webkit-input-placeholder {
  color: rgb(94, 94, 94);
}

.footer .block.newsletter.inputs-style--underlined input::placeholder,
.footer .block.newsletter input::placeholder {
  color: rgb(94, 94, 94);
}

.footer .block.newsletter.inputs-style--underlined input:-ms-input-placeholder,
.footer .block.newsletter input:-ms-input-placeholder {
  color: rgb(94, 94, 94);
}

.footer .block.newsletter.inputs-style--underlined input::-ms-input-placeholder,
.footer .block.newsletter input::-ms-input-placeholder {
  color: rgb(94, 94, 94);
}

.amshopby-button,
.amshopby-button:hover,
.amshopby-button:active,
.amshopby-button:focus,
.ox-toggle.medium-left .ox-toggle-title:hover .toggle-minus,
.cart-summary .actions-toolbar > .primary button,
.primary > .action,
.primary > .action:hover,
a.action.primary:hover,
.action.primary:hover,
.button.primary:hover,
a.button.primary:hover,
a.button:hover,
.button:hover,
button:hover,
button:active,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
a.action.primary,
.action.primary,
.button.primary,
a.button.primary,
a.button,
.button,
button,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift {
  background: rgb(0, 0, 0);
}

.amshopby-button,
#am-shopby-container ~ .filter-actions .filter-clear,
button:focus,
.cart-summary .actions-toolbar > .primary button,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
.primary > .action,
a.action.primary,
.action.primary,
.button.primary,
a.button.primary,
a.button,
.button,
button,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift {
  color: rgb(255, 255, 255);
}

.primary > .action svg,
a.action.primary svg,
.action.primary svg,
.button.primary svg,
a.button.primary svg,
a.button svg,
.button svg,
button svg,
.cart.table-wrapper .actions-toolbar > .action svg,
.action-gift svg {
  fill: rgb(255, 255, 255);
}

.ox-toggle.medium-left .ox-toggle-title:hover .toggle-minus span:after,
.ox-toggle.medium-left .ox-toggle-title:hover .toggle-minus span:before {
  background: rgb(255, 255, 255);
}

.products-grid .product-item .ox-add-to-cart-loading .action:before {
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
}

.amshopby-button:hover,
.amshopby-button:active,
.amshopby-button:focus,
#am-shopby-container ~ .filter-actions .filter-clear:hover,
.cart-summary .actions-toolbar > .primary button:hover,
a.action.primary:hover,
.action.primary:hover,
.button.primary:hover,
.primary > .action:hover,
a.button.primary:hover,
a.button:hover,
.button:hover,
button:hover,
button:active,
.cart.table-wrapper .actions-toolbar > .action:hover,
.action-gift:hover {
  color: rgb(255, 255, 255);
}

a.action.primary:hover svg,
.action.primary:hover svg,
.button.primary:hover svg,
a.button.primary:hover svg,
.primary > .action:hover svg,
a.button:hover svg,
.button:hover svg,
button:hover svg,
.cart.table-wrapper .actions-toolbar > .action:hover svg,
.action-gift:hover svg {
  fill: rgb(255, 255, 255);
}

.ox-toggle.medium-left .ox-toggle-title .toggle-minus span:before,
.ox-toggle.medium-left .ox-toggle-title .toggle-minus span:after {
  background: rgb(255, 255, 255);
}

.products-grid .product-item .ox-add-to-cart-loading .action:hover:before {
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
}

.ox-toggle.medium-left .ox-toggle-title .toggle-minus,
.cart-summary .actions-toolbar > .primary button:after,
.primary > .action:after,
a.action.primary:after,
.action.primary:after,
.button.primary:after,
a.button.primary:after,
a.button:after,
.button:after,
button:after,
.cart.table-wrapper .actions-toolbar > .action:after,
.action-gift:after {
  background-color: rgb(26, 26, 26);
}

.product.data.items > .item.title > .switch,
.order-links .item strong,
.order-links .item a,
.ox-banner-medium .ox-banner__text-container .link,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
.cart-summary .actions-toolbar > .primary button,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
a.action.primary,
.action.primary,
.action.secondary,
.secondary > a.action,
.button.secondary,
.button.primary,
a.button.secondary,
a.button.primary,
a.button,
.primary > .action,
.button,
button,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.secondary > a.action,
.primary > .action,
.action.primary,
a.button,
.button,
button {
  font-size: 16px;
}

.account .box-actions .action,
.block-reorder .actions-toolbar .action.view,
.product.data.items > .item.title > .switch,
.order-links .item strong,
.order-links .item a,
.ox-banner-medium .ox-banner__text-container .link,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
.cart-container .checkout-methods-items .action.multicheckout,
.cart-summary .actions-toolbar > .primary button,
.minicart-items .update-cart-item,
.ox-banner .link,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
a.action.primary,
.action.primary,
.action.secondary,
.secondary > a.action,
.button.secondary,
.button.primary,
a.button.secondary,
a.button.primary,
a.button,
.primary > .action,
.button,
button,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift {
  letter-spacing: 1px;
}

.products-grid.wishlist .product-item-actions > a,
.account .box-actions .action,
.block-reorder .actions-toolbar .action.view,
.cart-container .checkout-methods-items .action.multicheckout,
.cart-summary .actions-toolbar > .primary button,
.product.data.items > .item.title > .switch,
.order-links .item strong,
.order-links .item a,
.ox-banner-medium .ox-banner__text-container .link,
.ox-banner .link,
.ox-banner-animated-text .ox-banner-animated-container .link,
.ox-banner .link,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
a.action.primary,
.action.primary,
.action.secondary,
.secondary > a.action,
.button.secondary,
.button.primary,
a.button.secondary,
a.button.primary,
a.button,
.primary > .action,
.button,
button,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift {
  font-weight: 500;
  text-transform: uppercase;
}

.action.action-edit-address,
.opc-block-shipping-information .shipping-information-title .action-edit,
.ui-dialog.popup .action.close:before,
#ox_quickview_wrapper .ox-overlay-close-btn span:before,
#ox_quickview_wrapper .ox-overlay-close-btn span:after,
.modal-custom .action-close:before,
.modal-popup .action-close:before,
.modal-slide .action-close:before,
.abs-remove-button-for-blocks:before,
.sidebar .action.delete:before,
.block-compare .action.delete:before,
.filter-current .action.remove:before,
.account .box-actions .action,
.sidebar .action.delete:hover:before,
.block-compare .action.delete,
.block-cart-failed .action.clear,
.cart-container .form-cart .action.clear,
.block-cart-failed .action.update,
.cart-container .form-cart .action.update,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
.button.secondary,
a.button.secondary,
.action.secondary,
.action-secondary,
button.action-secondary,
button.action.secondary,
.secondary > a.action,
.cart.table-wrapper .actions-toolbar > .action.action-secondary,
.table-comparison .action.towishlist,
.table-comparison .action.tocart,
.table-comparison .action.towishlist:before,
.table-comparison .action.tocart:before,
.table-comparison .cell.remove .action.delete:before,
.cart.table-wrapper .actions-toolbar > .action.action.secondary,
.action-gift.action-secondary,
.action-gift.action.secondary {
  color: rgb(255, 255, 255);
}

#ox_quickview_wrapper .ox-overlay-close-btn:hover span:before,
#ox_quickview_wrapper .ox-overlay-close-btn:hover span:after {
  background-color: rgb(0, 0, 0);
}

.action.action-edit-address:hover,
.modal-custom .action-close:focus:before,
.modal-popup .action-close:focus:before,
.modal-slide .action-close:focus:before,
.modal-custom .action-close:hover:before,
.modal-popup .action-close:hover:before,
.modal-slide .action-close:hover:before,
.ui-dialog.popup .action.close:hover:before,
.abs-remove-button-for-blocks:hover:before,
.sidebar .action.delete:hover:before,
.block-compare .action.delete:hover:before,
.filter-current .action.remove:hover:before,
.account .box-actions .action:hover,
.abs-shopping-cart-items .action.clear:hover,
.block-cart-failed .action.clear:hover,
.cart-container .form-cart .action.clear:hover,
.abs-shopping-cart-items .action.update:hover,
.block-cart-failed .action.update:hover,
.cart-container .form-cart .action.update:hover,
.abs-shopping-cart-items .action.continue:hover,
.block-cart-failed .action.continue:hover,
.cart-container .form-cart .action.continue:hover,
.button.secondary:hover,
a.button.secondary:hover,
.action.secondary:hover,
.action-secondary:hover,
button.action-secondary:hover,
button.action.secondary:hover,
.secondary > a.action:hover,
.login-container .block .secondary > a.action:hover,
.cart.table-wrapper .actions-toolbar > .action.action-secondary:hover,
.cart.table-wrapper .actions-toolbar > .action.action.secondary:hover,
.table-comparison .action.towishlist:hover:before,
.table-comparison .action.tocart:hover:before,
.table-comparison .action.towishlist:hover,
.table-comparison .action.tocart:hover,
.table-comparison .cell.remove .action.delete:hover:before,
.opc-block-shipping-information .shipping-information-title .action-edit:hover,
.action-gift.action-secondary:hover,
.action-gift.action.secondary:hover {
  color: rgb(0, 0, 0);
}

.action.action-edit-address,
.opc-block-shipping-information .shipping-information-title .action-edit,
.sidebar .action.delete:hover:before,
.block-compare .action.delete:before,
.ui-dialog.popup .action.close,
#ox_quickview_wrapper .ox-overlay-close-btn,
.modal-custom .action-close,
.modal-popup .action-close,
.modal-slide .action-close,
.sidebar .action.delete,
.block-compare .action.delete,
.filter-current .action.remove:before,
.account .box-actions .action,
.block-cart-failed .action.clear,
.cart-container .form-cart .action.clear,
.block-cart-failed .action.update,
.cart-container .form-cart .action.update,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
.button.secondary,
a.button.secondary,
.action.secondary,
.action-secondary,
button.action-secondary,
button.action.secondary,
.secondary > a.action,
.cart.table-wrapper .actions-toolbar > .action.action-secondary,
.table-comparison .action.towishlist,
.table-comparison .action.tocart,
.table-comparison .cell.remove .action.delete,
.block-authentication .actions-toolbar > .primary .action,
.block-authentication .actions-toolbar > .primary .action:hover,
.cart.table-wrapper .actions-toolbar > .action.action.secondary,
.action-gift.action-secondary,
.action-gift.action.secondary {
  background: rgb(26, 26, 26);
}

.action.action-edit-address:after,
.opc-block-shipping-information .shipping-information-title .action-edit:after,
.ui-dialog.popup .action.close:hover,
#ox_quickview_wrapper .ox-overlay-close-btn:hover,
.modal-custom .action-close:focus,
.modal-popup .action-close:focus,
.modal-slide .action-close:focus,
.modal-custom .action-close:hover,
.modal-popup .action-close:hover,
.modal-slide .action-close:hover,
.sidebar .action.delete:hover:before,
.block-compare .action.delete:hover:before,
.filter-current .action.remove:hover:before,
.account .box-actions .action:hover,
.abs-shopping-cart-items .action.clear:after,
.block-cart-failed .action.clear:after,
.cart-container .form-cart .action.clear:after,
.abs-shopping-cart-items .action.update:after,
.block-cart-failed .action.update:after,
.cart-container .form-cart .action.update:after,
.abs-shopping-cart-items .action.continue:after,
.block-cart-failed .action.continue:after,
.cart-container .form-cart .action.continue:after,
.button.secondary:after,
a.button.secondary:after,
.action.secondary:after,
.action-secondary:after,
button.action-secondary:after,
button.action.secondary:after,
.secondary > a.action:after,
.cart.table-wrapper .actions-toolbar > .action.action-secondary:after,
.cart.table-wrapper .actions-toolbar > .action.action.secondary:after,
.table-comparison .action.towishlist:hover,
.table-comparison .action.tocart:hover,
.table-comparison .cell.remove .action.delete:hover,
.action-gift.action-secondary:after,
.action-gift.action.secondary:after {
  background-color: rgb(207, 238, 16);
}

.opc-wrapper .form-login .actions-toolbar .secondary a.action:after,
.login-container .block .secondary > a.action:after,
.block-authentication .actions-toolbar > .secondary > a.action:after,
a.action.primary.naked:after,
.action.primary.naked:after,
.button.primary.naked:after,
a.button.primary.naked:after,
a.button.naked:after,
.button.naked:after,
button.naked:after,
.cart.table-wrapper .actions-toolbar > .action.naked:after,
.action-gift.naked:after {
  background-color: rgb(207, 238, 16);
}

.opc-wrapper .form-login .actions-toolbar .secondary a.action,
.login-container .block .secondary > a.action,
.block-authentication .actions-toolbar > .secondary > a.action,
a.action.primary.naked,
.action.primary.naked,
.button.primary.naked,
a.button.primary.naked,
a.button.naked,
.button.naked,
button.naked,
.cart.table-wrapper .actions-toolbar > .action.naked,
.action-gift.naked {
  color: rgb(26, 26, 26);
}

.opc-wrapper .form-login .actions-toolbar .secondary a.action:hover,
.login-container .block .secondary > a.action:hover,
.block-authentication .actions-toolbar > .secondary > a.action:hover,
a.action.primary.naked:hover,
.action.primary.naked:hover,
.button.primary.naked:hover,
a.button.primary.naked:hover,
a.button.naked:hover,
.button.naked:hover,
button.naked:hover,
.cart.table-wrapper .actions-toolbar > .action.naked:hover,
.action-gift.naked:hover {
  color: rgb(0, 0, 0);
}

.primary > .action.outline,
a.action.primary.outline,
.action.primary.outline,
.button.primary.outline,
a.button.primary.outline,
a.button.outline,
.button.outline,
button.outline {
  border-color: rgb(0, 0, 0);
}

.primary > .action.outline,
a.action.primary.outline,
.action.primary.outline,
.button.primary.outline,
a.button.primary.outline,
a.button.outline,
.button.outline,
button.outline {
  color: rgb(0, 0, 0);
}

.primary > .action.outline:focus,
a.action.primary.outline:focus,
.action.primary.outline:focus,
.button.primary.outline:focus,
a.button.primary.outline:focus,
a.button.outline:focus,
.button.outline:focus,
button.outline:focus,
.primary > .action.outline:hover,
a.action.primary.outline:hover,
.action.primary.outline:hover,
.button.primary.outline:hover,
a.button.primary.outline:hover,
a.button.outline:hover,
.button.outline:hover,
button.outline:hover {
  border-color: rgb(0, 0, 0);
}

.primary > .action.outline:focus,
a.action.primary.outline:focus,
.action.primary.outline:focus,
.button.primary.outline:focus,
a.button.primary.outline:focus,
a.button.outline:focus,
.button.outline:focus,
button.outline:focus,
.primary > .action.outline:hover,
a.action.primary.outline:hover,
.action.primary.outline:hover,
.button.primary.outline:hover,
a.button.primary.outline:hover,
a.button.outline:hover,
.button.outline:hover,
button.outline:hover {
  color: rgb(255, 255, 255);
}

.primary > .action.outline:after,
a.action.primary.outline:after,
.action.primary.outline:after,
.button.primary.outline:after,
a.button.primary.outline:after,
a.button.outline:after,
.button.outline:after,
button.outline:after {
  background-color: rgb(0, 0, 0);
}

.filter-options,
.filter.block .content,
.account-nav .content {
  border-width: 0px;
}

.sidebar-additional .block:before {
  height: 0px;
}

.filter-options,
.filter.block .content,
.account-nav .content,
.sidebar-additional .block {
  border-color: rgb(248, 248, 248);
}

.sidebar-additional .block:before {
  background: rgb(248, 248, 248);
}

.sidebar-additional .block .block-title > strong,
.filter.block .content dl.options dt,
.filter-options-title {
  color: rgb(32, 32, 32);
}

.filter-options-content
  .items.-am-multiselect
  .item
  > a.am_shopby_link_selected
  .count,
.filter-options-content
  .items.-am-singleselect
  .item
  > a.am_shopby_link_selected
  .count,
.filter-options-content .items.-am-multiselect .item > a:hover .count,
.filter-options-content .items.-am-singleselect .item > a:hover .count,
.filter-options-content .item a:hover .count,
.filter.block .content dl.options dd li a:hover + .count,
.filter-options-content .ox-layered__items--checkbox label:hover + .count,
.filter-options-content a:hover + .count {
  background: rgba(0, 0, 0, 0);
}

.filter.block .content dl.options dd li a,
.sidebar-additional .block.block-recent-posts .item a,
.sidebar-additional .block.block-archive .item a,
.sidebar-additional .block.block-categories li a,
.filter.block .content dl.options dd li a,
.account-nav .item a,
.account-nav .item > strong,
.filter-options-content .ox-layered__items--checkbox .label,
.filter-options-content a {
  color: rgb(32, 32, 32);
}

.filter-options-content .item a:hover,
.filter.block .content dl.options dd li a:hover,
.mana-filter-block .filter-options-content .item.mana-selected.mana-tree-item a,
.mana-filter-block .filter-options-content .item.mana-selected a,
.mana-filter-block
  .filter-options-content
  .item.mana-selected.mana-tree-item
  .label,
.mana-filter-block .filter-options-content .item.mana-selected .label,
.sidebar-additional .block.block-recent-posts .item a:hover,
.sidebar-additional .block.block-archive .item a:hover,
.sidebar-additional .block.block-categories li a:hover,
.filter.block .content dl.options dd li a:hover,
.account-nav .title label,
.account-nav .item.current a,
.account-nav .item.current strong,
.account-nav .item a:hover,
.filter-options-content
  .items.-am-multiselect
  .item
  > a.am_shopby_link_selected
  .label,
.filter-options-content
  .items.-am-singleselect
  .item
  > a.am_shopby_link_selected
  .label,
.filter-options-content .items.-am-multiselect .item > a:hover .label,
.filter-options-content .items.-am-singleselect .item > a:hover .label,
.filter-options-content .ox-seleted-item .label,
.filter-options-content .ox-seleted-item a,
.filter-options-content .ox-layered__items--checkbox .label:hover,
.filter-options-content .items.-am-singleselect .amshopby-link-selected,
.filter-options-content .swatch-option.selected + .am-shopby-swatch-label,
.filter-options-content a:hover {
  color: rgb(255, 255, 255);
}

.filter-current-subtitle:hover .toggle-minus span:after,
.filter-current-subtitle:hover .toggle-minus span:before,
.filter-options-title:hover .toggle-minus span:after,
.filter-options-title:hover .toggle-minus span:before {
  background: rgb(255, 255, 255);
}

.filter-options-content
  .items.-am-multiselect
  .item
  > a.am_shopby_link_selected
  .label,
.filter-options-content
  .items.-am-singleselect
  .item
  > a.am_shopby_link_selected
  .label,
.filter-options-content .items.-am-multiselect .item > a:hover .label,
.filter-options-content .items.-am-singleselect .item > a:hover .label,
.filter.block .content dl.options dd li a:hover,
.mana-filter-block .filter-options-content .item.mana-selected.mana-tree-item a,
.mana-filter-block .filter-options-content .item.mana-selected a,
.mana-filter-block
  .filter-options-content
  .item.mana-selected.mana-tree-item
  .label,
.mana-filter-block .filter-options-content .item.mana-selected .label,
.sidebar-additional .block.block-recent-posts .item a:hover,
.sidebar-additional .block.block-archive .item a:hover,
.sidebar-additional .block.block-categories li a:hover,
.filter.block .content dl.options dd li a:hover,
.filter-options-title:hover .toggle-minus,
.filter-current-subtitle:hover .toggle-minus,
.account-nav .item.current a,
.account-nav .item.current strong,
.account-nav .item a:hover,
.filter-options-content .ox-seleted-item .label,
.filter-options-content .ox-seleted-item a,
.filter-options-content .ox-layered__items--checkbox .label:hover,
.filter-options-content a:hover {
  background-color: rgb(32, 32, 32);
}

.filter-current-count {
  background-color: rgb(207, 238, 16);
}

.filter-current-count {
  color: rgb(0, 0, 0);
}

.extended-review-summary .ratings-count .rating-result:before,
.extended-review-summary-wrapper .number-of-ratings .rating-result:before {
  background-color: rgb(205, 205, 205);
}

.review-control-vote:before,
.review-list .rating-summary .rating-result:before,
.rating-summary .rating-result:before {
  color: rgb(205, 205, 205);
}

.extended-review-summary .ratings-count .rating-result span:before,
.extended-review-summary-wrapper .number-of-ratings .rating-result span:before {
  background-color: rgb(0, 0, 0);
}

.review-control-vote label:before,
.review-list .rating-summary .rating-result > span:before,
.rating-summary .rating-result > span:before {
  color: rgb(0, 0, 0);
}

.product-info-main .product-reviews-summary .rating-summary {
  background-color: rgb(248, 248, 248);
}

.extended-review-summary,
.fieldset > .review-field-ratings.field:not(.choice),
.review-field-ratings {
  background-color: rgb(248, 248, 248);
}

.review-fields-wrapper {
  background-color: rgb(248, 248, 248);
}

.extended-review-summary,
.fieldset > .review-field-ratings.field:not(.choice),
.fieldset > .review-field-ratings.field:not(.choice) label,
.review-field-ratings {
  color: rgb(0, 0, 0);
}

.extended-review-summary .ratings-count .rating-result:before {
  background-color: rgb(205, 205, 205);
}

.review-field-ratings .review-control-vote:before {
  color: rgb(205, 205, 205);
}

.extended-review-summary .ratings-value {
  color: rgb(0, 0, 0);
}

.toolbar-products .sorter-action svg,
.toolbar-products .modes svg {
  fill: rgb(15, 15, 15);
}

.js-toolbar-switch:after,
.js-toolbar-switch {
  color: rgb(15, 15, 15);
}

.toolbar-products .sorter-action:hover svg,
.toolbar-products .modes-mode.active svg,
.toolbar-products .modes-mode:hover svg {
  fill: rgb(0, 0, 0);
}

.js-toolbar-switch:hover:after,
.js-toolbar-switch:hover {
  color: rgb(0, 0, 0);
}

.sorter-action,
.js-toolbar-switch,
.modes-mode {
  background: rgba(0, 0, 0, 0);
}

.toolbar-nobg .modes-mode.active,
.toolbar-nobg .modes-mode:hover,
.toolbar-nobg .sorter-action:hover,
.sorter-action:hover,
.js-toolbar-switch:hover,
.modes-mode.active,
.modes-mode:hover {
  background: rgb(207, 238, 16);
}

.ox-item-scroll__amount .amount-count-line,
.ox-product-scroll__amount .amount-count-line,
.toolbar-amount .amount-count-line {
  background: rgb(228, 228, 228);
}

.ox-item-scroll__amount .amount-count-line span,
.ox-product-scroll__amount .amount-count-line span,
.toolbar-amount .amount-count-line span {
  background: rgb(0, 0, 0);
}

.js-toolbar-dropdown {
  color: rgb(255, 255, 255);
}

.js-toolbar-dropdown > div:hover {
  color: rgb(0, 0, 0);
}

.js-toolbar-dropdown > div:hover {
  background: rgb(207, 238, 16);
}

.pages .action.previous:hover:before,
.pages .action.next:hover:before,
.pages .action.previous:hover:after,
.pages .action.next:hover:after {
  background: rgb(255, 255, 255);
}

.pages a.page:hover {
  color: rgb(255, 255, 255);
}

.pages .item:after {
  background: rgb(36, 36, 36);
}

.pages strong.page {
  color: rgb(0, 0, 0);
}

.pages strong.page {
  background: rgb(207, 238, 16);
}

.product-info-main .page-title-wrapper .page-title {
  letter-spacing: 1px;
}

.product-info-main .page-title-wrapper .page-title {
  font-weight: 500;
}

.product-info-main .page-title-wrapper .page-title {
  font-size: 36px;
}

.product.media .fotorama__stage,
.product-grid__image-wrapper,
.product.media .gallery__image-wrapper {
  background-color: rgb(243, 243, 243);
}

.fotorama--fullscreen,
.pswp__bg {
  background-color: rgb(243, 243, 243);
}

.price-container .price,
.price-box .price {
  color: rgb(0, 0, 0);
}

.product-info-main .price-box .old-price .price-wrapper span,
.product-info-main .price-box .old-price .price-wrapper .price,
.product-options-bottom .price-box .old-price .price-wrapper .price,
.product-item
  .product-list-view__right-wrapper
  .price-box
  .old-price
  .price-container
  .price,
.products-grid .product-item .price-box .old-price .price-container .price,
.old-price .price-box .price,
.old-price .price-wrapper span,
.old.price .price-wrapper span {
  color: rgb(210, 210, 210);
}

.product-info-main .price-box .price-wrapper .price,
.product-options-bottom .price-box .price-wrapper .price {
  color: rgb(0, 0, 0);
}

.product-info-main .price-box .special-price .price-wrapper .price,
.product-options-bottom .price-box .special-price .price-wrapper .price,
.special-price .price,
.product-item .special-price .price-box .price-container,
.product-item .special-price .price-container .price,
.product-item
  .product-list-view__right-wrapper
  .price-box
  .special-price
  .price-container
  .price,
.products-grid .product-item .price-box .special-price .price-container .price,
.special-price .price-box .price {
  color: rgb(255, 115, 66);
}

.product-info-main .box-tocart .action.tocart,
.product-options-bottom .box-tocart .action.tocart {
  color: rgb(0, 0, 0);
}

.product-info-main .box-tocart .action.tocart svg,
.product-options-bottom .box-tocart .action.tocart svg {
  fill: rgb(0, 0, 0);
}

.product-info-main .box-tocart .action.tocart,
.product-options-bottom .box-tocart .action.tocart {
  background-color: rgb(207, 238, 16);
}

.product-info-main .box-tocart .action.tocart:hover,
.product-options-bottom .box-tocart .action.tocart:hover {
  color: rgb(255, 255, 255);
}

.product-info-main .box-tocart .action.tocart:hover svg,
.product-options-bottom .box-tocart .action.tocart:hover svg {
  fill: rgb(255, 255, 255);
}

.product-info-main .box-tocart .action.tocart:after,
.product-options-bottom .box-tocart .action.tocart:after {
  background-color: rgb(0, 0, 0);
}

.ox-prev-next__link .ox-prev-next__arrow {
  background-color: rgb(245, 245, 245);
}

.ox-prev-next__link .ox-prev-next__arrow svg {
  fill: rgb(44, 41, 48);
}

.ox-prev-next__link .inner {
  background-color: rgb(245, 245, 245);
}

.ox-prev-next__link .inner {
  color: rgb(0, 0, 0);
}

.ox-prev-next__link .label {
  color: rgb(155, 155, 155);
}

.pswp .pswp__button:hover:after,
.pswp .pswp__button:hover:before,
.fotorama__zoom-out:hover:before,
.fotorama__zoom-out:hover:after,
.fotorama__zoom-in:hover:before,
.fotorama__zoom-in:hover:after,
.fotorama__thumb--icon:hover:before,
.fotorama__thumb--icon:hover:after,
.fotorama__arr .fotorama__arr__arr:hover:before,
.fotorama__arr .fotorama__arr__arr:hover:after,
.fotorama__fullscreen .fotorama__zoom-in:hover:before,
.fotorama__fullscreen .fotorama__zoom-in:hover:after,
.fotorama--fullscreen .fotorama__fullscreen-icon:hover:after,
.fotorama--fullscreen .fotorama__fullscreen-icon:hover:before {
  background-color: rgb(0, 0, 0);
}

.pswp .pswp__button,
#ox-zoom-cursor span,
.fotorama__fullscreen-icon,
.fotorama__fullscreen .fotorama__zoom-in,
.fotorama__fullscreen .fotorama__zoom-out,
.fotorama__thumb--icon,
.fotorama__arr .fotorama__arr__arr {
  background-color: #000000;
}

.pswp .pswp__button:hover,
.fotorama--fullscreen .fotorama__fullscreen-icon:hover,
.fotorama__zoom-out:hover,
.fotorama__zoom-in:hover,
.fotorama__thumb--icon:hover,
.fotorama__arr .fotorama__arr__arr:hover {
  background-color: rgb(207, 238, 16);
}

.owl-nav button.owl-next:hover span:before,
.owl-nav button.owl-prev:hover span:before,
.owl-nav button.owl-next:hover span:after,
.owl-nav button.owl-prev:hover span:after {
  background-color: rgb(0, 0, 0);
}

.crosssell .owl-carousel .owl-nav button.owl-next:after,
.related .owl-carousel .owl-nav button.owl-next:after,
.upsell .owl-carousel .owl-nav button.owl-next:after,
.crosssell .owl-carousel .owl-nav button.owl-prev:after,
.related .owl-carousel .owl-nav button.owl-prev:after,
.upsell .owl-carousel .owl-nav button.owl-prev:after,
.owl-carousel.widget-product-grid .owl-nav button.owl-next:after,
.owl-carousel.widget-product-grid .owl-nav button.owl-prev:after,
.owl-nav button.owl-next:after,
.owl-nav button.owl-prev:after {
  background-color: rgb(207, 238, 16);
}

.fotorama__active .fotorama__dot,
.ox-css-dots > a span,
.owl-carousel .owl-dots button.owl-dot:hover span,
.owl-carousel .owl-dots button.owl-dot.active span {
  background-color: rgb(207, 238, 16);
}

.ox-brand-slider__container .ox-owl-nav button.owl-next,
.ox-brand-slider__container .ox-owl-nav button.owl-prev {
  background-color: rgb(255, 255, 255);
}

#toTop svg {
  fill: rgb(0, 0, 0);
}

.header-banner-below {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.header-banner-below.banner-columns-2 .banner-wrap.first-banner:before,
.header-banner-below.banner-columns-1 {
  background: rgb(245, 245, 245);
}

.header-banner-below .banner-wrap p,
.header-banner-below .banner-wrap h1,
.header-banner-below .banner-wrap h2,
.header-banner-below .banner-wrap h3,
.header-banner-below .banner-wrap h4,
.header-banner-below .banner-wrap h5,
.header-banner-below .banner-wrap h6,
.header-banner-below .banner-wrap .h1,
.header-banner-below .banner-wrap .h2,
.header-banner-below .banner-wrap .h3,
.header-banner-below .banner-wrap .h4,
.header-banner-below .banner-wrap .h5,
.header-banner-below .banner-wrap .h6,
.header-banner-below .banner-wrap {
  color: rgb(48, 48, 48);
}

.product-item-description .action.more,
.abs-product-link > a:visited,
.product-item-name > a:visited,
.product.name a > a:visited,
.product-item-name > a,
.product.name a > a,
.product-item .product-item-name a {
  color: rgb(0, 0, 0);
}

.products-grid .product-item:hover .price-box .price-container .price-wrapper,
.products-grid .product-item:hover .price-box .price-container .price-label,
.product-item:hover .product-item-name a {
  color: rgb(0, 0, 0);
}

.product-item .minimal-price > .price-label:after,
.product-item .price-box .price-container:after,
.product-item .product-item-name a:after {
  background-color: rgba(255, 255, 255, 0);
}

.products-grid .product-item .price-box .minimal-price > .price-label,
.products-grid .product-item .price-box .price-container .price {
  color: rgb(0, 0, 0);
}

.products-grid .product-item:hover .price-box .minimal-price > .price-label,
.products-grid .product-item:hover .price-box .price-container .price {
  color: rgb(0, 0, 0);
}

.product-item
  .product-list-view__right-wrapper
  .price-box
  .special-price
  .price-container
  .price,
.products-grid .product-item .price-box .special-price .price-container .price {
  color: rgb(255, 115, 66);
}

.product-item
  .product-list-view__right-wrapper
  .price-box
  .old-price
  .price-container
  .price,
.products-grid .product-item .price-box .old-price .price-container .price {
  color: rgb(210, 210, 210);
}

.product-item
  .product-list-view__right-wrapper
  .price-box
  .price-container
  .price {
  color: rgb(0, 0, 0);
}

.product-item .product-grid-overlay {
  background-color: rgba(255, 255, 255, 0);
}

.product-items .action.towishlist:before,
.products.list.items .action.towishlist:before,
.table-comparison .action.towishlist:before {
  color: rgb(0, 0, 0);
}

.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare
  svg,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare
  svg,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare
  svg,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare
  svg,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary
  svg,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary
  svg,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary
  svg,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary
  svg {
  fill: rgb(0, 0, 0);
}

.products-grid .product-item .ox-add-to-cart-loading .action:before {
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
}

.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare {
  background-color: rgba(255, 255, 255, 0);
}

.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover:before,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover:before,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover:before,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover:before {
  color: rgb(0, 0, 0);
}

.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover
  svg,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover
  svg,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover
  svg,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover
  svg,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover
  svg,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover
  svg,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover
  svg,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover
  svg {
  fill: rgb(0, 0, 0);
}

.products-grid .product-item .ox-add-to-cart-loading .action:hover:before {
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
}

.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.tocompare:hover,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.towishlist:hover,
.products-grid__layout-2.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-default.grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-2.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover,
.products-grid__layout-default.products-grid
  .product-grid__image-wrapper
  .product-item-inner
  .action.primary:hover {
  background-color: rgba(255, 255, 255, 0);
}

.ox-banner-animated-text .ox-banner-animated-container .text {
  color: rgb(0, 0, 0);
}

.ox-banner-animated-text .ox-banner-animated-container .animate-me .text {
  color: rgb(0, 0, 0);
}

.ox-banner-animated-text .ox-banner-animated-container .text {
  background-color: rgb(207, 238, 16);
}

.ox-banner-animated-text .ox-banner-animated-container .text:after {
  background-color: rgb(255, 255, 255);
}

.ox-banner .link,
.ox-banner-animated-text .ox-banner-animated-container .link {
  color: rgb(255, 255, 255);
}

.ox-banner .link,
.ox-banner-animated-text .ox-banner-animated-container .link {
  background-color: rgb(29, 29, 29);
}

@media (min-width: 1160px) {
  .post-list.blog-style-modern article .post-title {
    font-size: 40px;
  }
}

.post-list.blog-style-modern article.post-style--overlay,
.post-list.blog-style-modern.blog-list--image-top article.post-style--overlay,
.post-list.blog-style-modern.blog-list--overlay article {
  min-height: 517px;
}

@media (max-width: 640px) {
  .post-list.blog-style-modern article.post-style--overlay,
  .post-list.blog-style-modern.blog-list--image-top article.post-style--overlay,
  .post-list.blog-style-modern.blog-list--overlay article {
    min-height: 380px;
  }
}

.post-list.blog-style-modern article .post-title,
.post-list.blog-style-classic .post-title {
  text-transform: capitalize;
}

.post-list.blog-style-modern article .post-categories a {
  color: rgb(0, 0, 0);
}

.post-list.blog-style-classic .post-date .inner,
.post-list.blog-style-modern article .post-image-wrapper .post-posed-date {
  background: rgb(207, 238, 16);
}

.post-list.blog-style-classic .post-date .inner,
.post-list.blog-style-modern article .post-image-wrapper .post-posed-date {
  color: rgb(0, 0, 0);
}

.post-list article .gradient-overlay {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 40%,
    rgba(10, 10, 10, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 40%,
    rgba(10, 10, 10, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(10, 10, 10, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (min-width: 640px) {
  .post-view .post-text-hld p,
  .post-view .post-text-hld {
    font-size: 18px;
  }
}

.post-view .related .post-list article .post-title {
  font-size: 28px;
}

.post-view .post-meta .item {
  color: rgb(169, 169, 169);
}

.post-view .social-share__content a:hover i {
  color: rgb(207, 238, 16);
}

.post-view .blog-post-sticky-info .progress-container {
  background: rgb(0, 0, 0);
}

.post-view .blog-post-sticky-info .progress-bar {
  background: rgb(207, 238, 16);
}

.post-view .post-categories a {
  color: rgb(0, 0, 0);
}

.post-view .post-tags a:hover {
  color: rgb(0, 0, 0);
}

.post-view .post-nextprev-hld .nextprev-link:hover .h3 {
  color: rgb(0, 0, 0);
}

.post-view .post-nextprev-hld .nextprev-link:hover .h3 {
  background: rgb(207, 238, 16);
}

.post-view .block.comments .c-comment .c-post {
  border-color: rgb(0, 0, 0);
}

.sidebar-additional .block.block-tagclaud a {
  background: rgb(0, 0, 0);
}

.sidebar-additional .block.block-tagclaud a:hover {
  background: rgb(207, 238, 16);
}

.sidebar-additional .block.block-tagclaud a {
  color: rgb(255, 255, 255);
}

.sidebar-additional .block.block-tagclaud a:hover {
  color: rgb(0, 0, 0);
}

.blog-widget-recent.ox-blog-widget__titles-only
  .post-list
  article:hover
  .post-title
  a,
.blog-widget-recent.ox-blog-widget__titles-only
  .post-list
  article:hover
  .post-title {
  color: rgb(0, 0, 0);
}

.blog-widget-recent.ox-blog-widget__titles-only
  .post-list
  article:hover
  .post-title {
  background: rgb(207, 238, 16);
}

.action.secondary:after,
.secondary > a.action:after,
.button.secondary:after,
a.button.secondary:after,
.primary > .action:after,
a.action.primary:after,
.action.primary:after,
.button.primary:after,
a.button.primary:after,
a.button:after,
.button:after,
button:after {
  transform: scaleX(1);
  opacity: 0;
}

.action.secondary:hover:after,
.secondary > a.action:hover:after,
.button.secondary:hover:after,
a.button.secondary:hover:after,
.primary > .action:hover:after,
a.action.primary:hover:after,
.action.primary:hover:after,
.button.primary:hover:after,
a.button.primary:hover:after,
a.button:hover:after,
.button:hover:after,
button:hover:after {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .logo__container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .logo__container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .mobile-header--layout-5 .logo__container,
  .mobile-header--layout-4 .logo__container {
    max-width: 200px;
  }

  .logo__container .logo img {
    max-width: 200px;
  }

  .order-links .item.current strong,
  .ox-nav-sections-item-title.active:after,
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover,
  .product.data.items > .item.title:not(.disabled) > .switch:active,
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    background: rgb(207, 238, 16);
  }

  .ox-nav-sections-item-title .ox-nav-sections-item-switch {
    color: rgb(0, 0, 0);
  }

  .ox-nav-sections-item-title:after {
    background: rgb(207, 238, 16);
  }

  .ox-nav-sections-item-title.active .ox-nav-sections-item-switch {
    color: rgb(0, 0, 0);
  }

  .ox-nav-sections-item-title.active:after {
    background: rgb(207, 238, 16);
  }

  .ox-megamenu-navigation > .level0.active > .level-top,
  .ox-megamenu-navigation > .level0.has-active > .level-top,
  .navigation > .level0.active > .level-top,
  .navigation > .level0.has-active > .level-top,
  .ox-megamenu .level0 > .level-top:hover,
  .navigation .level0 > .level-top:hover,
  .ox-megamenu-navigation
    > .level0:not(.active):not(.has-active):hover
    > .level-top,
  .ox-megamenu-navigation > .level0 > .level-top:hover {
    background-color: rgb(0, 0, 0);
  }

  .ox-megamenu-navigation > .level0.active > .level-top,
  .ox-megamenu-navigation > .level0.has-active > .level-top,
  .navigation > .level0.active > .level-top,
  .navigation > .level0.has-active > .level-top,
  .ox-megamenu-navigation
    > .level0:not(.active):not(.has-active):hover
    > .level-top {
    color: rgb(0, 0, 0);
  }

  .order-links .item a:visited,
  .order-links .item strong,
  .order-links .item a,
  .tabs-style--minimal .product.data.items.accordion > .item.title > .switch,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title
    > .switch:visited {
    color: rgb(0, 0, 0);
  }

  .tabs-style--minimal
    .product.data.items.accordion
    .item.title
    > .switch:after,
  .tabs-style--minimal
    .product.data.items.accordion
    .item.title
    > .switch:before {
    background-color: rgb(0, 0, 0);
  }

  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch:after,
  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch:before {
    background: rgb(0, 0, 0);
  }

  .order-links .item.current strong,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title:not(.disabled)
    > .switch:active,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch:focus,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch:hover,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title
    > .switch:hover,
  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch,
  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch:visited {
    color: rgb(0, 0, 0);
  }

  .order-links .item.current strong,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:focus,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:hover,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:active,
  .product.data.items.accordion > .item.title.active > .switch,
  .product.data.items.accordion > .item.title.active > .switch:focus,
  .product.data.items.accordion > .item.title.active > .switch:hover {
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (min-width: 1025px) {
  [data-content-type='row'][data-appearance='contained'],
  .container,
  .navigation,
  .ox-megamenu,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    max-width: 1460px;
  }

  .catalogsearch-result-index .page-main,
  .catalog-category-view .page-main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-layout-2columns-left .product.media,
  .page-layout-2columns-right .product.media,
  .page-layout-3columns .product.media,
  .page-layout-1column-fullwidth .product.media,
  .page-layout-1column .product.media {
    width: 65%;
  }

  .page-layout-2columns-left .product-info-main,
  .page-layout-2columns-right .product-info-main,
  .page-layout-3columns .product-info-main,
  .page-layout-1column-fullwidth .product-info-main,
  .page-layout-1column .product-info-main {
    width: 30%;
  }

  .header--layout-4 .logo__container,
  .logo__container {
    width: 200px;
  }

  .logo__container .logo img {
    max-width: 200px;
  }

  .ox-dropdown--megamenu
    > .ox-megamenu__dropdown
    .ox-megamenu-list
    > .category-item
    > a,
  .ox-dropdown--megamenu > .ox-megamenu__dropdown .level1.category-item > a,
  .ox-megamenu-navigation .category-item > a {
    letter-spacing: 0px;
  }

  .ox-dropdown--megamenu
    > .ox-megamenu__dropdown
    .ox-megamenu-list
    > .category-item
    > .submenu
    > .category-item
    > a,
  .ox-dropdown--megamenu
    > .ox-megamenu__dropdown
    .ox-megamenu__categories
    > .ox-megamenu-list
    > .category-item
    > .submenu
    > .category-item
    > a {
    font-weight: 400;
  }

  .order-links .item a:visited,
  .order-links .item strong,
  .order-links .item a,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title
    > .switch:visited,
  .tabs-style--minimal .product.data.items.accordion > .item.title > .switch {
    color: rgb(0, 0, 0);
  }

  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title
    > .switch:after,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title
    > .switch:before {
    background-color: rgb(0, 0, 0);
  }

  .order-links .item.current strong,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title:not(.disabled)
    > .switch:active,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch:focus,
  .tabs-style--minimal
    .product.data.items.accordion
    > .item.title.active
    > .switch:hover {
    color: rgb(0, 0, 0);
  }

  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch:after,
  .tabs-style--minimal
    .product.data.items.accordion
    .item.title.active
    > .switch:before {
    background: rgb(0, 0, 0);
  }

  .tabs-style--minimal .product.data.items > .item.title > .switch:before,
  .order-links .item.current strong,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:active,
  .product.data.items.accordion > .item.title.active > .switch,
  .product.data.items.accordion > .item.title.active > .switch:focus,
  .product.data.items.accordion > .item.title.active > .switch:hover,
  .product.data.items.accordion > .item.title > .switch:focus,
  .product.data.items.accordion > .item.title > .switch:hover,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:focus,
  .product.data.items.accordion > .item.title:not(.disabled) > .switch:hover,
  .product.data.items > .item.title > .switch:after {
    background-color: rgb(0, 0, 0);
  }

  .post-list.blog-style-classic .post-title {
    font-size: 40px;
  }

  .post-view h1.page-title {
    font-size: 60px;
  }
}

@media (min-width: 1025px) {
  .page-layout-2columns-right .extended-review-button {
    display: none !important;
  }
}

.product-item .price-box .price-container .price-label {
  display: none !important;
}

.page-layout-2columns-right.catalog-product-view
  .number-of-ratings
  .rating-number
  .label {
  display: none;
}

.ox_quickview_catalog_product-view .product-info-main .box-tocart .field.qty,
.ox_quickview_catalog_product-view
  .product-options-bottom
  .box-tocart
  .field.qty,
.ox_quickview-catalog_product-view .product-info-main .box-tocart .field.qty,
.ox_quickview-catalog_product-view
  .product-options-bottom
  .box-tocart
  .field.qty {
  display: none !important;
}
