.tab-container {
  background: #fff none repeat scroll 0% 0%;
  display: block;
}
.tab-container .tab-list {
  margin-bottom: 0px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: inherit;
  gap: 44px;
  width: 100%;
  overflow-x: auto;
  border-bottom: 1px solid #e0e0e0;
  -ms-overflow-style: none; /*// IE 10+*/
  overflow: -moz-scrollbars-none; /*// Firefox*/
}
.tab-container .tab-list::-webkit-scrollbar {
  display: none; /*Safari and Chrome*/
}
.tab-container .tab-list .tab-item {
  margin-right: 0px;
}
.tab-container .tab-list li {
  list-style: none;
}
.tab-container .tab-list li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: none;
  white-space: nowrap;
  color: #bdbdbd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.tab-container .tab-list li.active a {
  border: none;
  color: #000000 !important;
  background: transparent;
}
.tab-container .tab-list li.active a,
.tab-container .tab-list li.active a:focus,
.tab-container .tab-list li.active a:hover {
  border-width: 0;
}
.tab-container .tab-list li.active a::after {
  transform: scale(1);
}
.tab-container .tab-list li a:hover {
  border: none;
  color: #000000 !important;
  background: transparent;
}
.tab-container .tab-list li a:hover a::after {
  transform: scale(1);
}
.tab-container .tab-list li a::after {
  content: "";
  background: #000000;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

@media only screen and (max-width: 600px) {
  .tab-container .tab-list {
    justify-content: flex-start;
    padding-left: 0px;
    gap: 0px !important;
  }
  .tab-container .tab-list .tab-item {
    margin-right: 44px;
  }
  .tab-container .tab-list li a::after {
    bottom: 10px;
  }
}

/*# sourceMappingURL=tab.css.map */
