$active-color: #1b5f5e;
$normal-color: #828282;
$border-color: #bdbdbd;
$bold-color: #000000;

.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon-location {
  mask-image: url(../images/icons/location.svg);
  -webkit-mask-image: url(../images/icons/location.svg);
  background-color: $normal-color;
  width: 22px;
  height: 28px;
}

.icon-search {
  mask-image: url(../images/icons/search.svg);
  -webkit-mask-image: url(../images/icons/search.svg);
  background-color: $normal-color;
  width: 21px;
  height: 21px;
}

.icon-active {
  background-color: $active-color !important;
}

.icon-bold {
  background-color: $bold-color;
}

.search-container {
  margin-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  .search-wrapper {
    position: relative;
    width: 50%;

    display: flex;

    .search-input {
      width: 100%;
      padding: 12px 16px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;

      color: $normal-color;

      border: 1px solid $border-color;
      border-radius: 5px;
    }

    i {
      position: absolute;

      bottom: 50%;
      right: 0px;
      transform: translate(-50%, 50%);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px),
  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (min-width: 481px) and (max-width: 767px),
  (min-width: 320px) and (max-width: 480px) {
  .search-container {
    .search-wrapper {
      width: 100%;
    }
  }
}
