.page-full-width {
  width: 100%;
}

.dots {
  .dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
  }

  .active {
    background-color: #ffffff;
  }
}

.csr-banner {
  position: relative;

  .csr-banner-img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .csr-banner-text {
    display: flex;
    flex-direction: column;
    gap: 32px;

    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 572px;

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;

      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}

.csr-quotes {
  padding: 70px 160px;
  text-align: center;

  background: #f8f7f4;

  span {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
}

.csr-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 0px;
  margin-bottom: 50px;

  .csr-wrapper {
    width: 1124px;

    margin-bottom: 120px;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .csr-title {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
      margin: 0;
    }

    .csr-grid {
      display: grid;
      place-content: center;
      grid-template-areas:
        'top top'
        'left right';
      gap: 24px;

      grid-template-columns: 1fr 1fr;

      .csr-item {
        &:first-child {
          grid-area: top;
        }
        &:nth-child(2) {
          grid-area: left;
        }
        &:nth-child(3) {
          grid-area: right;
        }
      }

      .csr-top {
        color: #000000;
        font-style: normal;

        h5 {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.05em;

          margin-bottom: 16px;
        }
        span {
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }

      .csr-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        font-style: normal;
        color: #1b5f5e;

        p {
          font-weight: 500;
          font-size: 64px;
          line-height: 64px;
          letter-spacing: 0.05em;
          text-transform: uppercase;

          margin: 0px;
        }

        span {
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;

          width: 350px;
        }
      }

      .csr-right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .csr-banner {
    height: 712px;

    .csr-banner-img {
      width: 100%;
      height: 100%;

      img {
        width: auto;
        height: 100%;
      }
    }

    .csr-banner-text {
      width: 340px;

      bottom: 20%;
      left: 10%;

      span {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.05em;
      }
    }
  }

  .csr-quotes {
    padding: 32px 16px;
  }

  .csr-container {
    .csr-quotes {
    }
    .csr-wrapper {
      width: 100%;

      .csr-title {
        font-size: 32px;
        line-height: 40px;
      }

      .csr-grid {
        grid-template-areas:
          'top'
          'left'
          'right';
        grid-template-columns: 1fr;

        .csr-top {
          h5 {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.05em;
          }
          span {
            font-size: 16px;
            line-height: 24px;
          }
        }
        .csr-left {
          p {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.05em;
          }

          span {
            font-size: 14px;
            line-height: 22px;
          }
        }
        .csr-right {
        }
      }
    }
  }
}
