.layout-container {
  margin-bottom: 140px;
  .layout-image-container {
    width: 100%;
    margin-top: 140px;
  }

  .layout-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .layout-image-title {
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 44px;

      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #000000;

      margin-bottom: 25px;

      width: 700px;
      text-align: center;
    }

    .layout-image-list1 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 20px;

      .item {
        flex: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .layout-image-list2 {
      display: grid;
      grid-template-areas:
        'item1 item3 item3 item3'
        'item2 item3 item3 item3'
        'item4 item4 item5 item6';

      gap: 20px;

      .item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:first-child {
          grid-area: item1;
        }

        &:nth-child(2) {
          grid-area: item2;
        }
        &:nth-child(3) {
          grid-area: item3;
        }
        &:nth-child(4) {
          grid-area: item4;
        }
        &:nth-child(5) {
          grid-area: item5;
        }
        &:nth-child(6) {
          grid-area: item6;
        }
      }
    }

    .layout-show-more-button {
      box-sizing: border-box;

      padding: 16px 24px;

      width: 208px;
      height: 56px;

      color: #000000;
      border: 1px solid #000000;
      background-color: transparent;

      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;

      text-transform: uppercase;
    }
  }
}
