$text-bold-color: #000000;

.instruction-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
  margin-bottom: 48px;

  .instruction-wrapper {
    width: 1124px;

    .instruction-card {
      margin-bottom: 32px;

      display: flex;
      flex-direction: column;
      gap: 16px;

      &__title {
        margin: 0px;

        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: $text-bold-color;
      }

      &__content {
        ul {
          padding-left: 20px;
          margin: 0px;
        }

        li {
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
        }
      }
    }
  }
}
