$border-color: #e0e0e0;
$normal-color: #828282;
$title-color: #828282;
$desc-color: #333333;
$active-color: #1b5f5e;
$active-text-color: #000000;
$card-background-color: #ffffff;

.store-container {
  width: 100%;

  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  .store-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .store-place {
      flex: 1;

      .tab-list {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: inherit;
        gap: 44px;

        width: 100%;
        border-bottom: 1px solid $border-color;

        margin: 0px;
        padding: 0px;

        .tab-item {
          margin-right: 0px;
        }

        li {
          list-style: none;

          a {
            position: relative;
            display: block;
            padding: 10px 15px;

            border: none;
            white-space: nowrap;
            color: $title-color;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
          }

          &.active {
            a {
              border: none;
              color: $active-text-color !important;
              background: transparent;
            }

            a,
            a:focus,
            a:hover {
              border-width: 0;
            }

            a::after {
              transform: scale(1);
            }
          }

          a:hover {
            border: none;
            color: #000000 !important;
            background: transparent;

            a::after {
              transform: scale(1);
            }
          }

          a::after {
            content: '';
            background: $active-text-color;

            position: absolute;
            height: 1px;
            width: 100%;

            left: 0px;
            bottom: 0px;

            transition: all 250ms ease 0s;
            transform: scale(0);
          }
        }
      }

      .card-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .card-item {
      padding-top: 24px;

      margin-top: 0px;
      margin-bottom: 0px;

      &:not(:first-child) {
        border-top: 1px solid $border-color;
      }

      &:first-child {
        h2 {
          color: $active-color;
        }

        li {
          color: $active-text-color;
        }
      }

      &__title {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;

          margin: 0px;

          color: $title-color;
        }
      }

      &__desc {
        padding-left: 50px;
        margin-bottom: 0px;

        li {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: $desc-color;
        }
      }
    }

    .store-map {
      flex: 2;
      position: relative;

      .store-map-wrapper {
        .img-map {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .card-in-map {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          width: 300px;
          padding: 24px 24px 0px 24px;

          background: $card-background-color;

          border-radius: 5px;
          box-shadow: 0 0 20px $active-text-color;

          position: absolute;
          top: 25%;
          left: 40%;

          .card-name-mobile {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: $active-color;
            display: none;
            text-transform: uppercase;
            margin: 0px;
            padding: 0px;
          }

          .card-img {
            width: 100%;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          .card-item {
            border: none;
            padding-bottom: 24px;

            &__title {
              h2 {
                color: $active-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px),
  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (min-width: 481px) and (max-width: 767px),
  (min-width: 320px) and (max-width: 480px) {
  .store-container {
    .store-wrapper {
      gap: 24px;
      flex-direction: column-reverse;

      .store-map {
        .store-map-wrapper {
          .card-in-map {
            top: 40%;
            left: 30%;

            width: auto;
            flex-direction: row;
            padding: 0px 12px;

            .card-img {
              display: none;
            }
            .card-item {
              &__title,
              &__desc {
                display: none;
              }
            }
            .card-name-mobile {
              display: inline;
            }
          }
        }
      }
    }
  }
}
