.story-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
  margin-bottom: 48px;

  .story-wrapper {
    width: 1124px;

    .story-row {
      margin-bottom: 32px;

      .story-columns {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding: 0px;
        align-items: flex-end;

        .story-column {
          flex: 1;

          .story-content {
            &__title {
              font-style: normal;
              font-weight: 500;
              font-size: 32px;
              line-height: 40px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #000000;
              text-align: left;
            }

            &__description {
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
            }
          }

          .story-image {
            img {
              max-width: 100%;
              height: auto;
            }
          }

          .story-image-group {
            margin-top: -120px;

            &__image-up {
              position: relative;
              top: 120px;
              left: 200px;
              width: 343px;
              height: auto;
              z-index: 9999;
            }

            &__image-down {
              position: relative;
              width: 433px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .story-container {
    .story-wrapper {
      .story-minus-mt {
        margin-top: 0;
      }

      .story-row {
        margin-top: 10px;
        .story-columns {
          flex-direction: column;

          &_reverse {
            flex-direction: column-reverse !important;
          }

          .story-column {
            .story-content {
              &__title {
                text-align: center;
              }
            }
            .story-image-group {
              margin-top: -90px;

              &__image-up {
                width: 220px;
                left: 150px;
                top: 90px;
              }
              &__image-down {
                width: 270px;
              }
            }
          }
        }
      }
    }
  }
}
