$text-bold-color: #000000;

.policy-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
  margin-bottom: 48px;

  .policy-wrapper {
    width: 1124px;

    .policy-card {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__title {
        margin: 0px;

        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: $text-bold-color;
      }

      &__content {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;

        ul {
          padding-left: 15px;
        }

        p:first-child {
          margin-top: 0px;
        }

        p:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
