.info-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  margin-bottom: 100px;

  .info-wrapper {
    width: 890px;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    .info-item {
      display: flex;
      align-items: center;
      gap: 32px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .info-img {
        flex: 1;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .info-text {
        flex: 1;

        display: flex;
        flex-direction: column;

        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.05em;

          color: #000000;
          text-transform: uppercase;
          margin-bottom: 8px;
          margin-top: 0;
        }

        span {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .info-container {
    .info-wrapper {
      width: 100%;
      height: auto;

      .info-item {
        flex-direction: column;

        &:nth-child(even) {
          flex-direction: column;
        }
      }
    }
  }
}
