.header {
  width: 100%;

  h1 {
    font-size: 42px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .badge {
    border: 1px solid red;
  }

  .list {
    display: flex;
    flex-direction: column;

    gap: 20px;
    color: #000000;

    a {
      color: #1b5f5e;

      &:hover {
        font-weight: bold;
      }
    }

    .new {
      p {
        &::after {
          content: 'New';
          background-color: red;
          color: white;
          padding: 4px 8px;
          text-align: center;
          border-radius: 5px;
          position: relative;
          left: 20px;
        }
      }
    }

    .item {
      text-align: center;

      p {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        color: #000000;
      }

      ul {
        list-style: none;

        font-size: 20px;
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}
