.pop-up-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  .pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    height: auto;
    width: 50%;

    display: block;

    margin: 40px auto;
    background: #ffffff;

    border-radius: 5px;
    box-shadow: 0 0 20px #000;

    .pop-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .pop-title {
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
      }

      .pop-close {
        position: absolute;
        right: 32px;
        top: 28px;
        width: 32px;
        height: 32px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:before,
        &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: #000000;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    .pop-content {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 30px 30px 30px;
    }
  }
}

.size-guide-table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
  tr {
    th,
    td {
      text-align: center;
      padding: 15px 20px;
    }

    th {
      padding-bottom: 20px;
    }

    td {
      border: 1px solid #dcdcda;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;

      &:first-child {
        background-color: #f8f7f4;
      }
    }
  }
}
