.tab-container {
  background: #fff none repeat scroll 0% 0%;
  display: block;
  .tab-list {
    margin-bottom: 0px;

    &::-webkit-scrollbar {
      display: none; /*Safari and Chrome*/
    }

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: inherit;
    gap: 44px;

    width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid #e0e0e0;
    -ms-overflow-style: none; /*// IE 10+*/
    overflow: -moz-scrollbars-none; /*// Firefox*/

    .tab-item {
      margin-right: 0px;
    }

    li {
      list-style: none;

      a {
        position: relative;
        display: block;
        padding: 10px 15px;

        border: none;
        white-space: nowrap;
        color: #bdbdbd;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }

      &.active {
        a {
          border: none;
          color: #000000 !important;
          background: transparent;
        }

        a,
        a:focus,
        a:hover {
          border-width: 0;
        }

        a::after {
          transform: scale(1);
        }
      }

      a:hover {
        border: none;
        color: #000000 !important;
        background: transparent;

        a::after {
          transform: scale(1);
        }
      }

      a::after {
        content: '';
        background: #000000;

        position: absolute;
        height: 1px;
        width: 100%;

        left: 0px;
        bottom: 0px;

        transition: all 250ms ease 0s;
        transform: scale(0);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .tab-container {
    .tab-list {
      justify-content: flex-start;
      padding-left: 0px;
      gap: 0px !important;

      .tab-item {
        margin-right: 44px;
      }

      li {
        a::after {
          bottom: 10px;
        }
      }
    }
  }
}
