/**
 * Copyright Â© Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/*@icon-settings:'\3d';
@icon-checkmark: '\2e';
@icon-search: '\61';
@icon-down: "\72";
@icon-up: "\72";
/*@icon-help
@icon-expand
@icon-pointer-right: "\72";
@icon-pointer-left: "\72";*/
/*
@button__span-padding: 0 12px;
@button__span-height: 30px;*/
/*
@breadcrumbs__container-margin: 0;
@breadcrumbs-icon__use: false;
@breadcrumbs__padding: 0;

@breadcrumbs-current__color: @text__color__muted;
@breadcrumbs-link__color: @text__color__muted;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: #ffffff;
@breadcrumbs-link__active__color: @breadcrumbs-link__color;
*/
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
.page-print .logo img,
.page-print .logo .retina {
  display: none;
}
.page-print .logo img.print-logo {
  display: block;
  margin: 0 0 20px 0;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  img .retina,
  .logo .retina {
    display: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .order-details-items .table:not(.cart):not(.totals) > thead > tr > th,
  .order-details-items .table > thead > tr > th {
    white-space: normal !important;
  }
  .order-details-items .table-order-items tbody td {
    white-space: normal !important;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
}
